﻿@model FMS.BL.OperationMaster

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Ledger Operation</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Ledger/List">Ledger Operation</a></li>
                        <li class="breadcrumb-item active">Add Ledger Operation</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("LedgerOperation", "Ledger", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LedgerID)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.OperationID)
                                            @Html.DropDownListFor(model => model.LedgerID, (SelectList)ViewBag.Ledger, "Select Ledger", new { @Class = "form-control", @Id = "ddlLedgerID" })
                                            @Html.ValidationMessageFor(model => model.LedgerID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OperationName)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.OperationName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Operation Name" } })
                                            @Html.ValidationMessageFor(model => model.OperationName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OperationDesc)
                                            @Html.TextAreaFor(model => model.OperationDesc, new { @class = "form-control", @placeholder = "Ledger Description" })
                                            @Html.ValidationMessageFor(model => model.OperationDesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>

                                <button onclick="Reset()" type="reset" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">

                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            @*<div class="card-header">Operation list for</div>*@
                            <div class="card-body">
                                @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                                @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                               
                                <div class="clearfix"></div><br />
                                <div id="tblOperation">

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->
                    <!-- /.card -->
                </div>

            </div>

        </section>

    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
        if ($("#ddlLedgerID").val() != "") {
            LoadOperation($("#ddlLedgerID").val());
        }
       
    });

    $("#ddlLedgerID").change(function () {
       // alert($("#ddlLedgerID").val());
        if ($("#ddlLedgerID").val() == "") {
            $('#tblOperation').html("");
        }
        else {
            LoadOperation($("#ddlLedgerID").val());
        }
    });

    function LoadOperation(LedgerId) {

        var requestData = {
            LedgerId: LedgerId
        };
        $.ajax({
            url: '/Ledger/LoadOperation',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblOperation').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Operation Name</th><th scope="col">Operation Description</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].OperationName + '</td ><td>' + result[i].OperationDesc + '</td><td><a href="#" onclick="Delete(' + result[i].OperationId + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].OperationId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                if (tbody != "") {
                    $('#tblOperation').html(tblHead + tbody + '</tbody></table>');
                }
                
               // $("#example1").DataTable();
            },
        });
    }
</script>