﻿@model FMS.BL.PurchaseEntry
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Purchase Entry </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Purchase</a></li>
                        <li class="breadcrumb-item active"><a href="/Purchase/PurchaseEntry">Purchase Entry</a></li>
                        
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("PurchaseEntry", "Purchase", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Supplier Type</label><span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.SupplierTypeId, (SelectList)ViewBag.SupplierType, "Select a Supplier Type", new { @Class = "form-control", @Id = "ddlSupplier" })

                                            @Html.ValidationMessageFor(model => model.SupplierTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SupplierId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Supplier, "Select a supplier", new { @Class = "form-control select2 custom-dropdown", @onchange = "getVal(this.value)", @Id = "ddlSupplier", @style = "height: 120px;" })

                                            @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Supplier Address</label>
                                            @*<input type="text" class="form-control" id="txtSupplierAddress" />*@
                                            <textarea type="text" class="form-control" id="txtSupplierAddress"></textarea>
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Mobile</label>
                                            <input type="text" class="form-control" id="txtMobile" />
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DONumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.DONumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "DO Number" } })
                                            @Html.ValidationMessageFor(model => model.DONumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChallanNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.ChallanNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Challan Number" } })
                                            @Html.ValidationMessageFor(model => model.ChallanNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TruckNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.TruckNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Truck Number" } })
                                            @Html.ValidationMessageFor(model => model.TruckNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PurchaseDate)<span class="text-red">*</span>
                                            <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate1", @placeholder = "Purchase Date" } })
                                                <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ItemType)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.ItemType, (SelectList)ViewBag.ItemList, "Select a item", new { @Class = "form-control", @Id = "ddlItem" })

                                            @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NumberOfBag)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.NumberOfBag, new { htmlAttributes = new { @class = "form-control", @placeholder = "Number Of Bag" } })
                                            @Html.ValidationMessageFor(model => model.NumberOfBag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight" } })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>











                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Total price</label><span class="text-red">*</span>

                                            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })
                                            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PaymentMode)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.PaymentMode, (SelectList)ViewBag.Mode, "Select a Payment Mode", new { @Class = "form-control", @Id = "ddlPaymentMode" })

                                            @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankName)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.BankName, (SelectList)ViewBag.Bank, "Select a Bank", new { @Class = "form-control", @Id = "ddlBank" })

                                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChequeNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cheque Number" } })
                                            @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DraftNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.DraftNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Draft Number" } })
                                            @Html.ValidationMessageFor(model => model.DraftNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                    <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                    <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                                </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //$("#ddlSupplier").change(function () {
        //    alert('ok')
        //    //LoadSupplier($("#ddlSupplier").val());
        //});

        //Initialize Select2 Elements
        $('.select2').select2();

        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY',
            // format: 'L',
        });

        $('#PurchaseDate').val(GetCurrentDate());

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    //function getVal() {
    //    alert('ok')
    //}

    function getVal(id) {
       // var supplierId = $('#ddlSupplier').val();
        //alert(id)
        var requestData = {
            SupplierId: id
        };
        $.ajax({
            url: '/Supplier/LoadSupplier',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $('#txtSupplierAddress').val(result[i].Address);
                    $('#txtMobile').val(result[i].Phone);
                   }

               
            },
        });
    }
</script>

