﻿@model FMS.BL.ProductionStockEntry
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sale Stock Entry </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Production</a></li>
                        <li class="breadcrumb-item active"><a href="/Purchase/PurchaseEntry">Sale Stock Entry</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("SaleStockEntry", "Sale", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ItemId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.ItemList, "Select a item", new { @Class = "form-control", @Id = "ddlItem" })

                                            @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight" } })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        </div>

                                        <div class="col-sm-3">
                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Flour)<span class="text-red">*</span>

                                                @Html.EditorFor(model => model.Flour, new { htmlAttributes = new { @class = "form-control", @placeholder = "Flour in Quintal", @readonly = "readonly" } })

                                                @Html.ValidationMessageFor(model => model.Flour, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Bran)<span class="text-red">*</span>

                                                @Html.EditorFor(model => model.Bran, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bran in Quintal", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Bran, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ref)<span class="text-red">*</span>

                                                @Html.EditorFor(model => model.Ref, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ref in Quintal", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Ref, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Vitamin)<span class="text-red">*</span>

                                                @Html.EditorFor(model => model.Vitamin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vitamin in KG" } })
                                                @Html.ValidationMessageFor(model => model.Vitamin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>




                                    </div>

                                    <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                    <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                                </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#Weight").keyup(function () {
            var weight = 0;
            if ($("#Weight").val() > 0) {
                weight = parseFloat($("#Weight").val());
            }
           // parseFloat($("#Weight").val());
            var flour = (95 * weight) / 100;
            var bran = (4 * weight) / 100;
            var ref = (1 * weight) / 100;
            $("#Flour").val(flour);
            $("#Bran").val(bran);
            $("#Ref").val(ref);
            
        });

        //Initialize Select2 Elements
        $('.select2').select2();

        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY',
            // format: 'L',
        });

        $('#PurchaseDate').val(GetCurrentDate());

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    //function getVal() {
    //    alert('ok')
    //}

   
</script>

