﻿@model FMS.BL.Sales
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sales Entry </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Sales</a></li>
                        <li class="breadcrumb-item active"><a href="/Purchase/PurchaseEntry">Sales Entry</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("SaleEntry", "Sale", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ItemId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.ItemId, (SelectList)ViewBag.ItemList, "Select a item", new { @Class = "form-control", @Id = "ddlItem" })

                                            @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4"></div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PacketId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.PacketId, (SelectList)ViewBag.Packet, "Select a packet", new { @Class = "form-control", @Id = "ddlPacket", @onchange = "GetPacket()" })

                                            @Html.ValidationMessageFor(model => model.PacketId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NoOfBag)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.NoOfBag, new { htmlAttributes = new { @class = "form-control", @placeholder = "Number Of Bag", @onkeyup = "CalculateOnBag()" } })
                                            @Html.ValidationMessageFor(model => model.NoOfBag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NoOfPacket)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.NoOfPacket, new { htmlAttributes = new { @class = "form-control", @placeholder = "Number Of Packet", @onkeyup = "CalculateOnPacket()" } })
                                            @Html.ValidationMessageFor(model => model.NoOfPacket, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalWeight)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.TotalWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight", @onkeyup = "CalculateOnWeight()",@readonly="readonly" } })
                                            @Html.ValidationMessageFor(model => model.TotalWeight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.InvoiceNumber)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Invoice Number" } })
                                            @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MemoNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.MemoNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Memo Number" } })
                                            @Html.ValidationMessageFor(model => model.MemoNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DispathDocNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.DispathDocNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dispath Doc Number" } })
                                            @Html.ValidationMessageFor(model => model.DispathDocNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.CustomerId, (SelectList)ViewBag.Supplier, "Select a supplier", new { @Class = "form-control select2 custom-dropdown", @onchange = "getVal(this.value)", @Id = "ddlCustomer" })

                                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Customer Address</label>
                                            @*<input type="text" class="form-control" id="txtSupplierAddress" />*@
                                            <textarea type="text" class="form-control" id="txtSupplierAddress"></textarea>
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Mobile</label>
                                            <input type="text" class="form-control" id="txtMobile" />
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TruckNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.TruckNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Truck Number" } })
                                            @Html.ValidationMessageFor(model => model.TruckNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Destination)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control", @placeholder = "Destination" } })
                                            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BatchNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.BatchNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Batch Number" } })
                                            @Html.ValidationMessageFor(model => model.BatchNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Total)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })
                                            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CreatedDate)<span class="text-red">*</span>
                                            <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate1", @placeholder = "Sales Date" } })
                                                <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PaymentMode)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.PaymentMode, (SelectList)ViewBag.Mode, "Select a Payment Mode", new { @Class = "form-control", @Id = "ddlPaymentMode" })

                                            @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankName)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.BankName, (SelectList)ViewBag.Bank, "Select a Bank", new { @Class = "form-control", @Id = "ddlBank" })

                                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ChequeNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cheque Number" } })
                                            @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DraftNumber)<span class="text-red">*</span>

                                            @Html.EditorFor(model => model.DraftNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Draft Number" } })
                                            @Html.ValidationMessageFor(model => model.DraftNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var bagquantity = 0;
        var weight = 0;

        //$("#ddlSupplier").change(function () {
        //    alert('ok')
        //    //LoadSupplier($("#ddlSupplier").val());
        //});

        //Initialize Select2 Elements
        $('.select2').select2();

        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY',
            // format: 'L',
        });

        $('#PurchaseDate').val(GetCurrentDate());

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    //function getVal() {
    //    alert('ok')
    //}

    function CalculateOnBag() {
        var bosta = $("#NoOfBag").val();
        var packet = $("#NoOfPacket").val();
        var totalweight = $("#TotalWeight").val();
        $("#NoOfPacket").val(bosta * bagquantity);
        $("#TotalWeight").val(bosta * bagquantity * weight * 0.00001)

    }

    function CalculateOnPacket() {
        var bosta = $("#NoOfBag").val();
        var packet = $("#NoOfPacket").val();
        var totalweight = $("#TotalWeight").val();
        $("#NoOfBag").val((packet / bagquantity));
        $("#TotalWeight").val(packet  * weight * 0.00001);
        //number_test((packet / bagquantity).toPrecision(2))
        console.log((packet / bagquantity).toPrecision(2));
       // $("#NoOfPacket").val(bosta * bagquantity);
       //$("#TotalWeight").val(bosta * bagquantity * weight * 0.00001)

    }

    function CalculateOnWeight() {
       // var bosta = $("#NoOfBag").val();
       // var packet = $("#NoOfPacket").val();
       // var totalweight = $("#TotalWeight").val();

       // $("#NoOfBag").val((totalweight / 0.00001 / bagquantity).toPrecision(2));
       //// $("#TotalWeight").val(packet * weight * 0.00001);
       // //number_test((packet / bagquantity).toPrecision(2))
       // console.log((totalweight / 0.00001 / bagquantity).toPrecision(2));
       // // $("#NoOfPacket").val(bosta * bagquantity);
       // //$("#TotalWeight").val(bosta * bagquantity * weight * 0.00001)

    }
    function number_test(n) {
        var result = (n - Math.floor(n)) !== 0;

        if (result)
            console.log('decimal');
        else
            console.log('not decimal');
    }

    function GetPacket() {
        bagquantity = 0;
        weight = 0;
        var packetId = $("#ddlPacket").val();
        var requestData = {
            PacketId: packetId
        };
        $.ajax({
            url: '/Packet/LoadPacket',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    bagquantity = result[i].BagQuantity;
                    weight = result[i].Weight;
                    
                }


            },
        });
    }

    function getVal(id) {
       // var supplierId = $('#ddlSupplier').val();
        //alert(id)
        var requestData = {
            CustomerId: id
        };
        $.ajax({
            url: '/Customer/LoadCustomer',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $('#txtSupplierAddress').val(result[i].Address);
                    $('#txtMobile').val(result[i].Phone);
                   }


            },
        });
    }
</script>

