﻿
@{
    ViewBag.Title = "Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sale Details(History)</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/index">Sale Details</a></li>
                        <li class="breadcrumb-item"><a href="/Home/VendorProfile">Sale Details(History)</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row" id="divstockcount">

                <!-- ./col -->
                <!-- ./col -->
            </div>
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Sale Entry", "SaleEntry", "Sale",
                            new { @class = "btn  bg-gradient-primary" })
                            <div class="clearfix"></div><br />
                            <div id="tblPurchaseStockDetails">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>


</div>

<script src="~/CustomScript/Utility/dropdown.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //GetPurchaseStockCount();
        GetSaleDetails();
        var rowCount = 0;

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
    function GetSaleDetails()
    {
        var requestData = {

        };
        $.ajax({
            url: '/Sale/GetSaleDetails',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblPurchaseStockDetails').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Sale ID</th><th scope="col">Item</th><th scope="col">Bag</th><th scope="col">Packet</th><th scope="col">Weight</th><th scope="col">Total</th><th scope="col">Date</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].SalesID + '</td ><td>' + result[i].ItemName + '</td><td>' + result[i].NoOfBag + '</td><td>' + result[i].NoOfPacket + '</td><td>' + result[i].TotalWeight + '</td><td>' + result[i].Total + '</td><td>' + result[i].Date +'</td></tr >'
                }
                $('#tblPurchaseStockDetails').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }


    function GetPurchaseStockCount() {
        var requestData = {

        };
        $.ajax({
            url: '/Purchase/PurchaseStockCount',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                //<a href="~/Views/Purchase/PurchaseStockList.cshtml">~/Views/Purchase/PurchaseStockList.cshtml</a>
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#divstockcount').append(html);
                var html = "";
                $('#divstockcount').html(html);
                for (var i = 0; i < result.length; i++) {

                    html = html + '<div class="col-lg-3 col-6">'

                    html = html + '<div class="small-box bg-info"><div class="inner">'

                    html = html + '<h3>' + result[i].Weight + ' ' + result[i].Unit+'</h3>'
                    html = html + '<h4>' + result[i].NumberOfBag + ' BOSTA</h4>'
                    html = html + '<p>' + result[i].ItemName + '</p> </div><div class="icon"><i class="ion ion-bag"></i></div> </div></div>'


                }
                $('#divstockcount').append(html);


            },
        });
    }
</script>

