﻿

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        SYSCOGEN ADMIN
    </title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />

    <script src="../plugins/jquery/jquery.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- SEARCH FORM -->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown" id="notification">
                    <a class="nav-link" data-toggle="dropdown" href="/Alert/List">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-danger navbar-badge notification-count"></span>
                    </a>
                    <!-- Notifications Dropdown Menu -->
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right alert-notification">

                        <!--<div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">-->
                        <!-- Message Start -->
                        <!--<div class="media">
                            <img src="../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>-->
                        <!-- Message End -->
                        <!--</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">-->
                        <!-- Message Start -->
                        <!--<div class="media">
                            <img src="../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>-->
                        <!-- Message End -->
                        <!--</a>
                        <div class="dropdown-divider"></div>-->
                        @*<a href="#" class="dropdown-item dropdown-footer">See All Messages</a>*@
                    </div>

                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link" href="/Home/Logout">
                        <b>Log Out</b>

                    </a>

                </li>



            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/home/index" class="brand-link">
                <img src="../img/log50.jpg" alt="SYSCOGEN Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8" />
                <span class="brand-text font-weight-light">SYSCOGEN</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="info">
                        <a href="#" class="d-block">@Session["UserName"]</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview superadmin">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Super Admin
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Category/CategoryList" class="nav-link category ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Item/ItemsList" class="nav-link ItemsList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Purchase sale items</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/SupplierType/List" class="nav-link supplierType">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Supplier Type</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/LedgerType/List" class="nav-link ledgerType">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ledger Type</p>
                                    </a>
                                </li>




                            </ul>
                        </li>

                        <li class="nav-item has-treeview administrator">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Administrator
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Home/CompanyProfile" class="nav-link home">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Company Profile</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Role/List" class="nav-link role">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Role</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/User/List" class="nav-link user">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Alert/List" class="nav-link alert">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Alert</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Document/List" class="nav-link document">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Documents</p>
                                    </a>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item has-treeview master">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Master
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Units/Index" class="nav-link units">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unit</p>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="/GST/List" class="nav-link gst">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>GST</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
            <a href="/Item/List" class="nav-link item">
                <i class="far fa-circle nav-icon"></i>
                <p>Item</p>
            </a>
        </li>*@

                                <li class="nav-item">
                                    <a href="/AccessoriesType/List" class="nav-link accessoriestype">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Accessories Type</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/accessories/List" class="nav-link accessories">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Accessories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/branch/List" class="nav-link branch">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Branch</p>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="/Bag/List" class="nav-link bag">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bag & Packet</p>
                                    </a>
                                </li>



                                <li class="nav-item">
                                    <a href="/Supplier/List" class="nav-link supplier">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Supplier</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Customer/List" class="nav-link Customer">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Customer</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Machine/List" class="nav-link machine">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Machine</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Assets/List" class="nav-link assets">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Assets</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/LabourWorkType/List" class="nav-link labourWorkType">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Labour Charges</p>
                                    </a>
                                </li>


                                @*<li class="nav-item">
            <a href="/WeightDetails/List" class="nav-link weightDetails">
                <i class="far fa-circle nav-icon"></i>
                <p>Weight Details</p>
            </a>
        </li>*@


                            </ul>
                        </li>
                        <li class="nav-item has-treeview EmployeeMaster">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Employee
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Employee/List" class="nav-link employee">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Employee</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/EmployeeLoanList" class="nav-link employeeloanlist">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Loan</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/LoanList" class="nav-link LoanList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Loan List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/RePaymentList" class="nav-link RepaymentList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Repayment List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/Salary" class="nav-link salarymanagement">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Salary Management</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/EmployeeSalaryList" class="nav-link EmployeeSalaryList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Salary Disbures List</p>
                                    </a>
                                </li>




                            </ul>
                        </li>
                        <li class="nav-item has-treeview LedgerMaster">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ledger
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                
                                <li class="nav-item">
                                    <a href="/Ledger/List" class="nav-link ledger">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ledger</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Ledger/LedgerOperation" class="nav-link LedgerOperation">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ledger Operation</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/IncomeExpense/Index" class="nav-link Index">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Income/Expense Entry</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/IncomeExpense/Details" class="nav-link Details">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Report</p>
                                    </a>
                                </li>


                            </ul>

                        </li>

                        <li class="nav-item has-treeview WeightMaster">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Weight
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/WeightDetails/List" class="nav-link weightDetails">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Weight Bridge</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/RoadChalan/List" class="nav-link RoadChalanList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Road chalan</p>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <!--<li class="nav-item has-treeview LabourMaster">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Labour Charge
                                    <i class="fas fa-angle-left right"></i>-->
                                    @* <span class="badge badge-info right">6</span>*@
                                <!--</p>
                            </a>-->
                            @*<ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/LabourWorkType/List" class="nav-link labourWorkType">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Labour Work Type</p>
                                    </a>
                                </li>



                            </ul>*@

                        <!--</li>-->

                        <li class="nav-item has-treeview stock">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Stock
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/Stock/StockAdd" class="nav-link add">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Stock Add</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Stock/List" class="nav-link list">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Stock List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/stock/StockRelease" class="nav-link release">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Stock Release</p>
                                    </a>
                                </li>


                            </ul>

                        </li>
                        <li class="nav-item has-treeview purchase">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Purchase
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Purchase/PurchaseEntry" class="nav-link PurchaseEntry">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Purchase Entry</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Purchase/PurchaseStockList" class="nav-link PurchaseStockList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Purchase Stock</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview production">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Production
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Production/ProductionEntry" class="nav-link ProductionEntry">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Production Entry</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Production/ProductionStockList" class="nav-link ProductionStockList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Production Stock</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Sale/SaleStockEntry" class="nav-link SaleStockEntry">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sales Stock Entry</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Sale/SaleStockList" class="nav-link SaleStockList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sales Stock</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview sales">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Sales
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Sale/SaleEntry" class="nav-link SaleEntry">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sales Entry</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Sale/SalesList" class="nav-link SalesList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sales Details</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>

                        <li class="nav-item has-treeview Wastage">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Wastage
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">6</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Wastage/Release" class="nav-link Release">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wastage Release</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Wastage/WastageList" class="nav-link WastageList">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wastage Release Details</p>
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>

                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper -->
        @RenderBody()
        <!-- //content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright &copy; 2020-2021 <a href="http://www.syscogen.com/" target="_blank">SYSCOGEN</a></strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 4.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>



    <!-- daterangepicker -->
    <script src="../plugins/moment/moment.min.js"></script>

    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>


    <script src="~/plugins/Bootbox/Bootbox.js"></script>


    <!-- overlayScrollbars -->
    <script src="../../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    @* <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="~/Content/js/table2excel.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</body>
</html>
<script>

    $(function () {
        LoadAlertNotification();
          var parentclass = '@ViewBag.ParentMenu';
          var childclass = '@ViewBag.ChildMenu';
         // alert(parentclass + " " + childclass)
          $('.' + parentclass + '').addClass('menu-open');
          $('.' + childclass + '').addClass('active');
    });

    function GetCurrentDate() {

        var dateNewFormat,month, onlyDate, today = new Date();

        // dateNewFormat = today.getFullYear() + '-' + (today.getMonth() + 1);
       // dateNewFormat = (today.getMonth() + 1);

        onlyDate = today.getDate();

        if (onlyDate.toString().length == 2) {
            //dateNewFormat += '/' + onlyDate;
            dateNewFormat =  onlyDate;
        }
        else {
           // dateNewFormat += '/0' + onlyDate;
            dateNewFormat = '0' + onlyDate;
        }
        month = (today.getMonth() + 1);
        if (month.toString().length == 2) {
            //dateNewFormat += '/' + onlyDate;
            dateNewFormat += month;
        }
        else {
            // dateNewFormat += '/0' + onlyDate;
            dateNewFormat += '/0' + month;
        }
        //dateNewFormat += '/' + (today.getMonth() + 1);
        
        dateNewFormat = dateNewFormat + '/' + today.getFullYear();
        //alert(dateNewFormat)
        return dateNewFormat;
    }

    function LoadAlertNotification() {

        var requestData = {
           
        };
        $.ajax({
            url: '/Alert/GetAlertNotification',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                var notif = '';
                $('#notification').hide();
                var count = 0;
                for (var i = 0; i < result.length; i++) {
                    count = count + 1;
                    $('#notification').show();
                    notif = notif + '<a href="/Alert/List" class="dropdown-item"><div class="media"><div class="media-body"><h3 class="dropdown-item-title">' + result[i].AlertName
                    notif = notif + '<span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span> </h3>'
                    notif = notif +  '<p class="text-sm">Next Renewal Date</p>'
                    notif = notif + '<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>' + result[i].StrNextRenewalDate+'</p> </div> </div> </a>'
                }

                $('.alert-notification').html(notif);
                $('.notification-count').text(count);
                
               
            },
        });
    }

    function GetYear() {
        var startyear = 2021;
        var endyear = 2030;
        var years = [];
        var j = 0;
        var options = '<option value=""><strong>Select</strong></option>';
        for (i = startyear; i <= endyear; i++) {
            options += '<option value="' + i + '">' + i + '</option>';
            
        }
        return options;
    }

    function GetMonth() {
        
        var j = 0;
        var options = '<option value=""><strong>Select</strong></option>';
        for (i = 1; i <= 12; i++) {
            options += '<option value="' + i + '">' + i + '</option>';

        }
        return options;
    }

    function IFNULL(string) {
        if (string == null || string == "") {
            return "";
        }
        else
            return string

    }

    $(".onlynumber").on("keypress keyup blur", function (e) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>