﻿@model IEnumerable<FMS.BL.Machine>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Machine list </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item active">Machine list</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add Machine", "Add", "Machine",
                            new { @class = "btn  bg-gradient-primary" })
                            <input type="button" class="btn  bg-gradient-primary" id="btnExport" value="Export To Excel" />
                            <input type="button" class="btn  bg-gradient-primary" onclick="DownloadPDF()" id="btnExporttoPDF" value="Export To PDF" />
                            <div class="clearfix"></div><br />
                            <div id="tblMachine">

                            </div>
                            <div id="hiddentblMachine" style="display:none">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnExport").click(function () {
            $("#hiddentable").table2excel({
                filename: "MachineList.xlsx"
            });
        });

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadMachine(0);
});

    function LoadMachine(MachineId) {

    var requestData = {
        MachineId: MachineId
    };
    $.ajax({
        url: '/Machine/LoadMachine',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblMachine').html("");
                $('#hiddentblMachine').html("");
                

                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Machine Name</th><th scope="col">Quantity</th><th scope="col">Unit Id</th><th scope="col">Cost Of Machineries</th><th scope="col">Status</th><th scope="col">Action</th></tr></thead><tbody>';
                var tblhiddenHead = '<table class="table table-bordered table-striped table-responsive-lg" id="hiddentable" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Machine Name</th><th scope="col">Quantity</th><th scope="col">Unit Id</th><th scope="col">Cost Of Machineries</th><th scope="col">Status</th></tr></thead><tbody>';

                var tbody = ""
                var thiddenbody = ""
                for (var i = 0; i < result.length; i++) {

                    var status = null;
                    if (result[i].IsActive == 0) {
                        status = "Inactive"
                    }
                    else {
                        status = "Active"
                    }
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].MachineName + '</td ><td>' + result[i].Quantity + '</td><td>' + result[i].UnitName + '</td ><td>' + result[i].CostOfMachineries + '</td ><td>' + status + '</td><td><a href="#" onclick="Delete(' + result[i].MachineId + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].MachineId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                    thiddenbody = thiddenbody + '<tr style="background-color:White;"><td>' + result[i].MachineName + '</td ><td>' + result[i].Quantity + '</td><td>' + result[i].UnitName + '</td ><td>' + result[i].CostOfMachineries + '</td ><td>' + status + '</td></tr >'
                }

                $('#tblMachine').html(tblHead + tbody + '</tbody></table>');
                $('#hiddentblMachine').html(tblhiddenHead + thiddenbody + '</tbody></table>');

                $("#example1").DataTable();
            },
        });
    }

    function Edit(machineid) {
        window.location.href = '/Machine/Add?machineid=' + machineid + '';
    }

    function Delete(machineidTodelete) {

        bootbox.confirm("Are you sure you want to delete this category?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/Machine/Delete?machineid=' + machineidTodelete + '';
                // LoadEmployee(0);
            }


        })
    }


    function DownloadPDF() {
        $.ajax({
            type: "POST",
            // url: "/AdminReports/ExportESCROWStatementToPDF?year=" + $('#Year').val() + "&month=" + $('#Month').val() + "&corporateName=" + $('#CorporateID').val(),
            url: "/Machine/LoadPDFForMachine",
            cache: false,
            success: function (data) {
                window.location = '/Machine/DownloadPDFForMachine';
            },
            error: function (data) {
                //  Materialize.toast("Something went wrong. ", 3000, 'rounded');
                toastr.error('Something went wrong.');
            }
        });
    }
</script>