﻿@model IEnumerable<FMS.BL.Alert>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Alert list </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item active">Alert list</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add Alert", "Add", "Branch",
                            new { @class = "btn  bg-gradient-primary" })
                            <input type="button" class="btn  bg-gradient-primary" onclick="DownloadPDF()" id="btnExporttoPDF" value="Export To PDF" />
                            <div class="clearfix"></div><br />
                            <div id="tblAlert">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadAlert(0);
});

    function LoadAlert(AlertId) {

    var requestData = {
        AlertId: AlertId
    };
    $.ajax({
        url: '/Alert/LoadAlert',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblAlert').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Alert Name</th><th scope="col">Issue Date</th><th scope="col">Next Renewal Date</th><th scope="col">Alert Description</th><th scope="col">Status</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    var status = null;
                    if (result[i].IsActive == 0) {
                        status = "Inactive"
                    }
                    else {
                        status = "Active"
                    }
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].AlertName + '</td ><td>' + result[i].StrIssueDate + '</td><td>' + result[i].StrNextRenewalDate + '</td><td>' + result[i].AlertDescription + '</td><td>' + status + '</td><td><a href="#" onclick="Delete(' + result[i].AlertId + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].AlertId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                $('#tblAlert').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }

    function Edit(Alertid) {
        window.location.href = '/Alert/Add?alertid=' + Alertid + '';
    }

    function Delete(AlertidTodelete) {

        bootbox.confirm("Are you sure you want to delete this Alert?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/Alert/Delete?alertid=' + AlertidTodelete + '';
                // LoadEmployee(0);
            }


        })
    }

    function DownloadPDF() {
        $.ajax({
            type: "POST",
            // url: "/AdminReports/ExportESCROWStatementToPDF?year=" + $('#Year').val() + "&month=" + $('#Month').val() + "&corporateName=" + $('#CorporateID').val(),
            url: "/Alert/LoadPDFForAlert",
            cache: false,
            success: function (data) {
                window.location = '/Alert/DownloadPDFForAlert';
            },
            error: function (data) {
                //  Materialize.toast("Something went wrong. ", 3000, 'rounded');
                toastr.error('Something went wrong.');
            }
        });
    }

</script>
