﻿
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Add category </h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                            <li class="breadcrumb-item"><a href="/category/categorylist">Category</a></li>
                            <li class="breadcrumb-item active">Add category</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Category Name *</label>

                                            <input type="hidden" id="txt_categoryId" Style="text-transform:uppercase" class="form-control" />

                                            @*<asp:TextBox ID="txt_name" runat="server" Style="text-transform:uppercase" CssClass="form-control" placeholder="Enter Name"></asp:TextBox>*@
                                            <input type="text" id="txt_categoryname" Style="text-transform:uppercase" class="form-control" placeholder="Category Name" />

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Description </label>


                                            <textarea class="form-control" id="txt_description" rows="3" placeholder="Category description"></textarea>
                                            @*  <%--<asp:TextBox ID="txt_des" runat="server" Style="text-transform:uppercase" CssClass="form-control" placeholder="Enter description"></asp:TextBox>--%>*@

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">


                                                @*<div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" id="cbx_active">
                                                    <label for="customCheckbox1" class="custom-control-label">Is Active</label>
                                                </div>*@
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" id="cbx_active" value="option1">
                                                    <label for="cbx_active" class="custom-control-label">Is Active</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                    <button type="button" onclick="CategorySubmit()" class="btn btn-primary btn-left">Submit</button>

                                </div>
                              
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- general form elements disabled -->
                        <!-- /.card -->
                    </div>

                </div>
              
        </section>
        </div>

    
    <script type="text/javascript">
        var categoryid = '@TempData["Category_Id"]';
       
    </script>
    <script src="~/CustomScript/Category/CategoryAdd.js"></script>