﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Invoice Print</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header" id="companyTitle">
                       GOUR FLOUR PVT. LTD.
                        <small class="float-right">Date: 2/10/2014</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    
                    <address>
                        <strong>Narayanpur,Malda</strong><br>
                       
                        Phone: (804) 123-5432<br>
                        Email: info@almasaeedstudio.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Transaction Number #<span>007612</span></b><br>
                    <br>
                    <b>Vehicle No:</b><span id="vehicle_no"> 4F3S8J</span><br>
                    <b>Supp/Cust:</b> <span id="customer_name">Subrata</span><br>
                    <b>Product:</b> <span id="product">ATA</span><br>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                
                <!-- /.col -->
                <div class="col-12">
                 

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Misc 1st weight:</td>
                                <td id="Misc_1st_weight">$250.30</td>
                            </tr>
                            <tr>
                                <td>Misc 2nd weight:</td>
                                <td id="Misc_2nd_weight">$10.34</td>
                            </tr>
                            <tr>
                                <td>Date 1st wt:</td>
                                <td id="Date_1st_wt">$5.80</td>
                                <td>First Weight:</td>
                                <td id="First_Weight">$5.80</td>
                            </tr>
                            <tr>
                                <td>Date 2nd wt:</td>
                                <td id="Date_2nd_wt">$265.24</td>
                                <td>Second Weight:</td>
                                <td id="Second_Weight">$265.24</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>Net Weight:</td>
                                <td id="Net_Weight">$265.24</td>
                            </tr>
                            <tr>
                                <td>Weight charges:</td>
                                <td id="Weight_charges"></td>
                                <td>Signature:</td>
                                <td id="Signature"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-center">Thank you! Visit again</div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    <!-- ./wrapper -->

    <script type="text/javascript">
        window.addEventListener("load", window.print());
    </script>
</body>
</html>
