﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .dynamic-column-item-ddl {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        height: calc(3.25rem + 2px);
        min-width: 181px !important;
    }

    .dynamic-column-item {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 217px !important;
    }

    .dynamic-column-item-btn {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        min-width: 212px !important;
    }

    .dynamic-column-item-value {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        height: calc(3.25rem + 2px);
        min-width: 177px !important;
    }

    .row-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .col-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-desc {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }


    .total-Text {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 1px 2rem;
        min-width: 450px !important;
    }
    /*  arijit*/
    .desc {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-blank {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Stock Add</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/index">Stock</a></li>
                        <li class="breadcrumb-item"><a href="/Home/VendorProfile">Add</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        
                        <div class="row">
                            <div style="max-width: 98%; overflow-x: scroll;" class="container">
                                <div id="tblInterestincome">
                                    <div class="row row-header">
                                        <div class="dynamicColumns">
                                        </div>
                                    </div>
                                    <div class="row row-data">
                                        <div class="dynamicColumnsInputs" style="display: flex;">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">

                                            <div class="text-right">
                                                <br />
                                                <button type="button" class="btn btn-success btnSave" id="btnSubmit">Submit <i class="la la-thumbs-o-up position-right"></i></button>
                                                <button type="reset" class="btn btn-danger">Cancel <i class="la la-refresh position-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->

                </div>

                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.card-body -->
        </div>



        <!-- /.card-body -->
</div>
</section>
</div>

<script src="~/CustomScript/Utility/dropdown.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var rowCount = 0;

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    function Initialize() {

        var outputHtml = "<div class='dynamic-column-item'>Accessories</div><div class='dynamic-column-item'>Quantity</div>";
        var outputHtml2 = '<select class="form-control  drop_down dynamic-column-item-ddl"  id="ddlAccessories"></select><input type ="text" id="txtQuantity"  class="form-control  dynamic-column-item-value">';
        outputHtml += "<div class='dynamic-column-item'>Action</div>";
        outputHtml2 += '<div class="dynamic-column-item-btn"><button type="button"  class="btn btn-social btn-xs btn-success" id="add-row"><span class="la la-check"></span> Add</button></div>';
       $(".dynamicColumns").html(outputHtml);
        $(".dynamicColumnsInputs").html(outputHtml2);


    }



    $(document).ready(function () {
        Initialize();
        LoadAccessories();
        LoadcarType();
        LoadCarDriver();
        LoadCarOwner();
    });
    function LoadAccessories() {
        DropdownBinder.DDLData = {
            tableName: "tbl_Accessories",
            Text: 'AccessoriesName',
            Value: 'AccessoriesId'
        };
        DropdownBinder.DDLElem = $("#ddlAccessories");
        DropdownBinder.Execute();
    }
    function LoadAccessoriesId(id) {
        DropdownBinder.DDLData = {
            tableName: "tbl_Accessories",
            Text: 'AccessoriesName',
            Value: 'AccessoriesId'
        };
        DropdownBinder.DDLElem = $(id);
        DropdownBinder.Execute();
    }

    function LoadcarType() {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarType",
            Text: 'CarTypeName',
            Value: 'CarTypeId'
        };
        DropdownBinder.DDLElem = $("#ddlCarType");
        DropdownBinder.Execute();
    }
    function LoadCarTypeById(id) {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarType",
            Text: 'CarTypeName',
            Value: 'CarTypeId'
        };
        DropdownBinder.DDLElem = $(id);
        DropdownBinder.Execute();
    }

    function LoadCarDriver() {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarDriver",
            Text: 'DriverName',
            Value: 'DriverId'
        };
        DropdownBinder.DDLElem = $("#ddlDriver");
        DropdownBinder.Execute();
    }
    function LoadDriverById(id) {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarDriver",
            Text: 'DriverName',
            Value: 'DriverId'
        };
        DropdownBinder.DDLElem = $(id);
        DropdownBinder.Execute();
    }

    function LoadCarOwner() {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarOwner",
            Text: 'OwnerName',
            Value: 'OwnerId'
        };
        DropdownBinder.DDLElem = $("#ddlOwner");
        DropdownBinder.Execute();
    }
    function LoadWonerById(id) {
        DropdownBinder.DDLData = {
            tableName: "tbl_CarOwner",
            Text: 'OwnerName',
            Value: 'OwnerId'
        };
        DropdownBinder.DDLElem = $(id);
        DropdownBinder.Execute();
    }

    function ClearData() {

        $(".dynamicColumnsInputs").find(".dynamic-column-item-value").val("");
        $(".dynamicColumnsInputs").find(".dynamic-column-item-ddl").val("");

    }
    function DeleteRow(rowNo) {
        bootbox.confirm("Are you sure you want to delete this record?", function (confirm) {
            if (confirm == true) {
                $(rowNo).closest('.dynamicColumnsInputsValue').remove();
                // LoadEmployee(0);
            }
        })
    }


    $(document).off('click', "#add-row").on('click', '#add-row', function (e) {
        var Accessories = $(this).closest('.dynamicColumnsInputs').find('#ddlAccessories').val();
        var Quantity = $(this).closest('.dynamicColumnsInputs').find('#txtQuantity').val();
        
        var dataHtml = '<div class="dynamicColumnsInputsValue tbl-row" style="display: flex;">';
        if ($(".dynamicColumnsInputsValue").length == 0) {
            rowCount = $(".dynamicColumnsInputsValue").length + 1;
        }
        else
        {
            rowCount = rowCount + 1;
        }
       // var rowCount = $(".dynamicColumnsInputsValue").length + 1;
        dataHtml += '<select class="form-control Accessories  drop_down dynamic-column-item-ddl"  id="ddlAccessories' + rowCount + '"></select><input type ="text" id="txtQuantity' + rowCount + '"  class="form-control Number dynamic-column-item-value Quantity">';
        dataHtml += '<div class="dynamic-column-item-btn"><button type="button" class="btn btn-social-icon btn-xs btn-danger delete" style="height:1.5rem!important" onclick="DeleteRow(this)"><i class="fa fa-trash" style="margin-top: -3px;"></i> </button></div>';
        dataHtml += '</div>';
        $(".row-data").append(dataHtml);
        $('#txtQuantity' + rowCount + '').val(Quantity);
        var ddlAccessories = "#ddlAccessories" + rowCount;
        LoadAccessoriesId(ddlAccessories);
      //  alert(Accessories)
        $("#ddlAccessories" + rowCount).val(Accessories);
      
        ClearData();
    });

    $(document).off('click', '.btnSave').on('click', '.btnSave', function (e) {
        var count = $(".dynamicColumnsInputsValue").length;
        var _data = "";
        if (count > 0) {
            StockDetails = [];
            for (var i = 0; i < count; i++) {


                //var CarNumber = parseInt($($(".dynamicColumnsInputsValue")[i]).find('.Number').val());
               // var Accessories  = $($(".dynamicColumnsInputsValue")[i]).find('.Number').val()
                var Accessories = parseInt($($(".dynamicColumnsInputsValue")[i]).find('.Accessories').val());
                var Quantity = parseInt($($(".dynamicColumnsInputsValue")[i]).find('.Quantity').val());
                //alert(CarNumber)


                StockDetails.push({
                    "AccessoriesId": Accessories,
                    "Quantity": Quantity,
                    "RowCount": i+1
                    
                });


            }

            console.log(StockDetails)

            var requestData = {
                StockDetails: StockDetails,
                IFSC: null,
                ChequeNo: $("#txtChequeNo").val(),
                DraftNo: $("#txtDraftNo").val(),
                BankName: $("#ddlBank").val(),
                PaymentMode: $("#ddlPaymentMode").val()
                //LedgerId: $("#ddlLedger").val()
            };


            //$.ajax({
            //    type: "POST",
            //    url: "/Vendor/InsertUpdateCarDetails",
            //    data: _data,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (data) {
            //        if (data != null && data != undefined && data.SuccessFlag == "1") {
            //            toastr.success(data.Msg);
            //        }
            //        else {
            //           toastr.error('Error');
            //        }
            //    },
            //    error: function (data) {
            //        toastr.error('Critical Error');

            //    }
            //});

        }
    });

</script>
