﻿@model FMS.BL.StockMaster
@{
    ViewBag.Title = "StockAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Stock Release</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Stock</a></li>
                        <li class="breadcrumb-item"><a href="/Stock/List">Stock List</a></li>
                        <li class="breadcrumb-item active">Stock Release</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("StockRelease", "Stock", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AccessoriesTypeId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.AccessoriesTypeId, (SelectList)ViewBag.AccessoriesType, "Select Accessories Type", new { @Class = "form-control", @Id = "ddlAccessoriestype", @onchange = "LoadAccessories()" })

                                            @Html.ValidationMessageFor(model => model.AccessoriesTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AccessoriesId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.AccessoriesId, (SelectList)ViewBag.Accessories, new { @Class = "form-control", @Id = "ddlAccessories" })

                                            @Html.ValidationMessageFor(model => model.AccessoriesId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AvailableQuantity)<span class="text-red">*</span>
                                            @*@Html.HiddenFor(model => model.AlertId)*@
                                            @Html.EditorFor(model => model.AvailableQuantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity" } })
                                            @Html.ValidationMessageFor(model => model.AvailableQuantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Remarks)<span class="text-red"></span>
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Relase remarks" })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left" value="Reset">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script src="~/CustomScript/Utility/dropdown.js"></script>
<script>

    $(document).ready(function () {
        LoadYear();
        LoadMonth();

       // GetPurchaseStockCount();
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    function LoadAccessories() {
        $("#ddlAccessories").append("");
        var id = $("#ddlAccessoriestype").val();
        DropdownBinder.DDLData = {
            tableName: "tbl_Accessories",
            Text: 'AccessoriesName',
            Value: 'AccessoriesId',
            ColumnName: 'AccessoriesTypeId',
            param: id

        };
        DropdownBinder.DDLElem = $("#ddlAccessories");
        DropdownBinder.Execute();
    }
</script>

