﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Income/Expense Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Ledger/List">Income/Expense Details</a></li>
                        <li class="breadcrumb-item active"> Income/Expense</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "Ledger", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Ledger</label>
                                            <select class="form-control" id="ddlLedger"></select>
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Type</label>
                                            <input type="text" class="form-control" id="lblLedgerType" disabled />
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Type</label>
                                            <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate1" id="searchdate" />
                                                @*@Html.EditorFor(model => model.NextRenewalDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate1", @placeholder = "Next Renewal Date" } })*@
                                                <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" onclick="GetReport()" class="btn btn-primary btn-left">Submit</button>


                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
    <section class="content" id="sectionOperation">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        @*<div class="card-header">Operation Details</div>*@
                        <!-- /.card-header -->
                        @*<div class="card-header">Operation list for</div>*@
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@

                            <div class="clearfix"></div><br />
                            <div id="tblReports">

                            </div>
                        </div>



                    </div>

                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>



</div>

<script src="~/CustomScript/Utility/dropdown.js"></script>
<script>

    var ledgerCount = 0;
    var tblHead = '';
     $(document).ready(function () {

         LoadLedger();
         LoadDetails(1)
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
         }
         $('#reservationdate1').datetimepicker({
             format: 'DD/MM/YYYY',
             // format: 'L',
         });
     });
    $("#ddlLedger").change(function () {
        $('#lblLedgerType').val('');
        LoadLedgerType();
       // ledgerCount = 0;
        //LoadOperation($("#ddlLedger").val());
        //alert($("#ddlLedger").val());

        //if ($("#ddlLedger").val() == "") {
        //    $('#sectionTransaction').hide();
        //    $('#sectionOperation').hide();
        //    $('#tblOperation').html("");
        //}
        //else {
        //$('#lblLedgerType').val('');
        //if ($("#ddlLedger").val() != '') {
        //    LoadOperation($("#ddlLedger").val());
        //}
        //else {
        //    $('#tblOperation').html("");
        //    $('#tblReports').html("");
        //}
       // }

    });


    function LoadLedger() {
        DropdownBinder.DDLData = {
            tableName: "tbl_Ledger",
            Text: 'LedgerName',
            Value: 'LedgerId'
        };
        DropdownBinder.DDLElem = $("#ddlLedger");
        DropdownBinder.Execute();
    }

    function LoadDetails(LedgerId) {

        var requestData = {
            LedgerId: LedgerId
        };
        $.ajax({
            url: '/IncomeExpense/LoadDetails',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblOperation').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Operation Name</th><th scope="col">Operation Description</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].OperationName + '</td ><td>' + result[i].OperationDesc + '</td><td><a href="#" onclick="Delete(' + result[i].OperationId + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].OperationId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                if (tbody != "") {
                    $('#tblOperation').html(tblHead + tbody + '</tbody></table>');
                }

                // $("#example1").DataTable();
            },
        });
    }

    function LoadOperation(LedgerId) {

        //LoadLedgerType();
        

        var requestData = {
            LedgerId: LedgerId
            
        };
        $.ajax({
            url: '/Ledger/LoadOperation',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblReports').html("");
                tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Ledger</th>';
                //alert(tblHead);
               // var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    //console.log('operatiom' + result[i].OperationName)
                    tblHead = tblHead + '<th scope="col">' + result[i].OperationName+'</th>';
                    ledgerCount = ledgerCount + 1;
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                   // tbody = tbody + '<tr style="background-color:White;"><td id="hidden_' + i + '" style="display:none">' + result[i].OperationID + '</td><td>' + result[i].OperationName + '</td ><td>' + result[i].OperationDesc + '</td><td><input class="form-control" id="operationValue_' + i + '" /></td></tr >'
                }
                tblHead = tblHead + '<th scope="col">Date</th><th scope="col">Party</th><th scope="col">Cheque No</th>';
                tblHead = tblHead + '</tr></thead>';
                //alert(tblHead);
                //  if (tbody != "") {
               // $('#tblReports').append(tblHead);
                GetValue(LedgerId);
                  //  $('#sectionTransaction').show();
                  //  $('#sectionOperation').show();
              //  }

                // $("#example1").DataTable();
            },
        });
    }

    function GetValue(LedgerId)
    {
        var searchdate = $('#searchdate').val();
        var requestData = {
            LedgerId: LedgerId,
            Date: searchdate
        };
        $.ajax({
            url: '/IncomeExpense/LoadLedgerValue',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
               // alert(result.length)

                $('#tblOperation').html("");
                //var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Operation Name</th><th scope="col">Operation Description</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = "<tbody><tr style='background-color: White;'>";
                var tdcount = 0;
                for (var i = 0; i < result.length; i++) {
                    tdcount = tdcount + 1;
                    if (tdcount == 1) {
                        tbody = tbody + '<td>' + result[i].LedgerName + '</td >';

                    }

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<td>' + result[i].Ammount + '</td >'
                   
                    if (tdcount == ledgerCount) {
                        //if (result[i].Partyname == null) {
                        //    result[i].Partyname == '';
                        //}
                        //alert(result[i].Partyname)
                        tbody = tbody + '<td>' + result[i].strTransactionDate + '</td ><td>' + result[i].Partyname + '</td ><td>' + result[i].ChequeNo + '</td ></tr>'
                        tbody = tbody + '<tr style="background - color: White;">';
                        tdcount = 0;
                    }
                }
                //if (tbody != "") {
              //  alert(tbody);
                $('#tblReports').append(tblHead+tbody + '</tbody></table>');
                //}
                $('#tblReports').find('tr:last').remove();
                $("#example1").DataTable(
                    {
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            title: 'Income/Expense Details',
                            filename: 'Income/Expense Details'
                        }]
                    }
                );
            },
        });
    }

    function LoadLedgerType() {

      //  alert($("#ddlLedger").val())
        var requestData = {
            LedgerId: $("#ddlLedger").val(),
        };

            $.ajax({
                type: "POST",
                url: "/IncomeExpense/LoadLedgerType",
                data: JSON.stringify(requestData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    for (var i = 0; i < result.length; i++) {
                        $('#lblLedgerType').val(result[i].LedgerTypeName)
                        // alert(result[i].LedgerTypeName)
                    }
                },
                error: function (data) {
                    toastr.error('Critical Error');

                }
            });




        //console.log(OperationValue);
    }

    function GetReportByLedgerName()
    {
        var requestData = {
            SearchType: 'LedgerId',
            LedgerId: $('#ddlLedger').val()
        };
        $.ajax({
            url: '/IncomeExpense/GetReport',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblAccessories').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Accessories Name</th><th scope="col">Accessories Description</th><th scope="col">Status</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    var status = null;
                    if (result[i].IsActive == 0) {
                        status = "Inactive"
                    }
                    else {
                        status = "Active"
                    }
                    if (result[i].AccessoriesDescription == null) {
                        result[i].AccessoriesDescription = "";
                    }
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].AccessoriesName + '</td ><td>' + result[i].AccessoriesDescription + '</td><td>' + status + '</td><td><a href="#" onclick="Delete(' + result[i].AccessoriesId + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].AccessoriesId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                $('#tblAccessories').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }


    function GetReport() {
        ledgerCount = 0;
        //LoadOperation($("#ddlLedger").val());
        //alert($("#ddlLedger").val());

        //if ($("#ddlLedger").val() == "") {
        //    $('#sectionTransaction').hide();
        //    $('#sectionOperation').hide();
        //    $('#tblOperation').html("");
        //}
        //else {
       // $('#lblLedgerType').val('');
        if ($("#ddlLedger").val() != '') {
            LoadOperation($("#ddlLedger").val());
        }
        else {
            $('#tblOperation').html("");
            $('#tblReports').html("");
        }
    }
</script>
