﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Income/Expense</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Ledger/List">Income/Expense</a></li>
                        <li class="breadcrumb-item active">Add Income/Expense</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "Ledger", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Ledger</label>
                                            <select class="form-control" id="ddlLedger"></select>
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                            <label>Type</label>
                                            <input type="text" class="form-control" id="lblLedgerType" disabled />
                                            @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                            @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>

                                    
                                </div>

                               
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
    <section class="content" id="sectionOperation">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">Operation Details</div>
                        <!-- /.card-header -->
                        @*<div class="card-header">Operation list for</div>*@
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@

                            <div class="clearfix"></div><br />
                            <div id="tblOperation">

                            </div>
                        </div>



                    </div>

                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
    <section class="content" id="sectionTransaction">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">Transaction Details</div>

                        <!-- /.card-header -->
                        @*<div class="card-header">Operation list for</div>*@
                    <div class="card-body">
                        @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                        @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    <label>Total</label>
                                    <input type="text" class="form-control" id="totalrate" />
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    <label>Party Name</label>
                                    <input type="text" class="form-control" id="partyname" />
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Transaction Date</label>
                                    <div class="input-group date" id="TransactionDate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="txtTransactionDate" data-target="#TransactionDate" />
                                        @*  @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate", @placeholder = "Issue Date" } })*@
                                        <div class="input-group-append" data-target="#TransactionDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })*@
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    @*<label>Bank Name</label>
                <input type="text" class="form-control" id="txtBankName" />*@
                                    <label>Mode of payment</label>
                                    <select class="form-control" id="ddlPaymentMode"></select>
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    @*<label>Bank Name</label>
                <input type="text" class="form-control" id="txtBankName" />*@
                                    <label>Bank Name</label>
                                    <select class="form-control" id="ddlBank"></select>
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    <label>Cheque No</label>
                                    <input type="text" class="form-control" id="txtChequeNo" />
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                    <label>Draft No</label>
                                    <input type="text" class="form-control" id="txtDraftNo" />
                                    @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                    @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                        </div>

                            <button onclick="Reset()" type="reset" class="btn btn-secondary text-left">Reset</button>
                            <button type="button" onclick="SaveData();" class="btn btn-primary btn-left">Submit</button>
                        </div>



                    </div>

                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
    
</div>
<script src="~/CustomScript/Utility/dropdown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sectionTransaction').hide();
        $('#sectionOperation').hide();
        LoadLedger();
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
       
        $('#txtTransactionDate').val(GetCurrentDate());
        $('#TransactionDate').datetimepicker({
            //format: 'HH:mm'
            format: 'DD/MM/YYYY',
        });
        //alert(dateNewFormat)
       
    });

    function LoadLedger() {
        DropdownBinder.DDLData = {
            tableName: "tbl_Ledger",
            Text: 'LedgerName',
            Value: 'LedgerId'
        };
        DropdownBinder.DDLElem = $("#ddlLedger");
        DropdownBinder.Execute();
    }

    function LoadBank() {
        $("#ddlBank").html('');
        DropdownBinder.DDLData = {
            tableName: "tbl_Bank",
            Text: 'BankName',
            Value: 'Id'
        };
        DropdownBinder.DDLElem = $("#ddlBank");
        DropdownBinder.Execute();
    }

    function GetPaymentMode() {
        $("#ddlPaymentMode").html('');
        DropdownBinder.DDLData = {
            tableName: "tbl_PaymentMode",
            Text: 'ModeName',
            Value: 'ModeName'
        };
        DropdownBinder.DDLElem = $("#ddlPaymentMode");
        DropdownBinder.Execute();
    }
    
    

    $("#ddlLedger").change(function () {
        //LoadOperation($("#ddlLedger").val());
        //alert($("#ddlLedger").val());

        if ($("#ddlLedger").val() == "") {
            $('#sectionTransaction').hide();
            $('#sectionOperation').hide();
            $('#tblOperation').html("");
        }
        else {
            LoadOperation($("#ddlLedger").val());
        }
       
    });

    function LoadOperation(LedgerId)
    {
        LoadBank();
        GetPaymentMode();
        LoadLedgerType();
        var requestData = {
            LedgerId: LedgerId
        };
        $.ajax({
            url: '/Ledger/LoadOperation',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblOperation').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Operation Name</th><th scope="col">Operation Description</th><th scope="col">Value</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td id="hidden_'+i+'" style="display:none">' + result[i].OperationID+'</td><td>' + result[i].OperationName + '</td ><td>' + result[i].OperationDesc + '</td><td><input class="form-control rate" id="operationValue_'+i+'" /></td></tr >'
                }
                if (tbody != "") {
                  //  tbody = tbody + '<tr style="background-color:White;"><td class="text-right" colspan="2" ><b>Total</b></td><td><input class="form-control" id="totalrate" /></td>'
                    $('#tblOperation').html(tblHead + tbody + '</tbody></table>');
                   
                    $('#sectionTransaction').show();
                    $('#sectionOperation').show();
                }

                // $("#example1").DataTable();
            },
        });
    }

    function SaveData()
    {
        var OperationValue = [];
        var i = 0;
        $('#example1 tbody tr').each(function () {
            OperationValue.push({
                "OperationId": $("#hidden_" + i + "").text(),
                "OperationAmount": $("#operationValue_" + i + "").val(),
                "LedgerId": $("#ddlLedger").val()
            })
            i = i + 1;
        });

        var requestData = {
            OperationValue: OperationValue,
            IFSC: null,
            ChequeNo: $("#txtChequeNo").val(),
            DraftNo: $("#txtDraftNo").val(),
            BankName: $("#ddlBank").val(),
            PaymentMode: $("#ddlPaymentMode").val(),
            Partyname: $("#partyname").val(),
            Date: $("#txtTransactionDate").val()
            //LedgerId: $("#ddlLedger").val()
        };
        $.ajax({
            type: "POST",
            url: "/IncomeExpense/InsertUpdateOperationDetails",
            data: JSON.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null && data != undefined && data.SuccessFlag == "1") {
                    toastr.success(data.Msg);
                    $('#ddlLedger').val('');
                    $('#lblLedgerType').val('');
                    $('#sectionTransaction').hide();
                    $('#sectionOperation').hide();
                    $('#tblOperation').html("");

                    $('#totalrate').val('');
                    $('#partyname').val('');
                    $('#ddlPaymentMode').val('');
                    $('#ddlBank').val('');
                    $('#txtChequeNo').val('');
                    $('#txtDraftNo').val('');
                    

                }
                else {
                    toastr.error('Error');
                }
            },
            error: function (data) {
                toastr.error('Critical Error');

            }
        });


        //console.log(OperationValue);
    }

    $(document).off('keyup', '.rate').on('keyup', '.rate', function (e) {
        var totalamoun = 0;
        $(".rate").each(function (e) {
            totalamoun += isNaN(parseFloat($(this).val())) ? 0 : parseFloat($(this).val());
        });
        $('#totalrate').val(totalamoun);
    });

    function LoadLedgerType() {
     

        var requestData = {
            LedgerId: $("#ddlLedger").val(),
        };
        $.ajax({
            type: "POST",
            url: "/IncomeExpense/LoadLedgerType",
            data: JSON.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#lblLedgerType').val('');
                for (var i = 0; i < result.length; i++) {
                    $('#lblLedgerType').val(result[i].LedgerTypeName)
                   // alert(result[i].LedgerTypeName)
                }
            },
            error: function (data) {
                toastr.error('Critical Error');

            }
        });


        //console.log(OperationValue);
    }
</script>

