﻿@model FMS.BL.ItemProductionStockTransaction

@{
    ViewBag.Title = "AddPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Move to Production</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/WeightDetails/List">Purchase Details</a></li>
                        <li class="breadcrumb-item active">Move to Production</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("MoveToProduction", "SalePurchase", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            @Html.HiddenFor(model => model.Id)
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PacketId)<span class="text-red">*</span>
                                            @Html.DropDownListFor(model => model.PacketId, (SelectList)TempData["Packet"], "Select a Packet", new { @Class = "form-control", @Id = "ddlPacket" })

                                            @Html.ValidationMessageFor(model => model.PacketId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BostaQuantity)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.BostaQuantity, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Bosta Quantity"
                                           }
                                            })
                                            @Html.ValidationMessageFor(model => model.BostaQuantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Weight, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control",
                                               @placeholder = "Weight",
                                               @readonly = "readonly"
                                           }
                                       })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    

                                    
                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#NetWeight").prop('readOnly', true);
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }

        $('#BostaQuantity').on('input', function () {
            calculateWeight();
        });

        $("#ddlPacket").change(function () {
            calculateWeight();
        });
        function calculateWeight() {
            var bostaQuantity = $('#BostaQuantity').val();
            var selectedPacket = $('#ddlPacket option:selected').text().split('(')[1].match(/\d+/)[0];
            var weight = selectedPacket * bostaQuantity;
            $('#Weight').val(weight);
        }

        $('#Date').datetimepicker({
            //format: 'HH:mm'
            format: 'DD/MM/YYYY',
            //format: 'L',
        });

    });
</script>
<script type="text/javascript">

</script>
