﻿@model FMS.BL.ItemPurchaseStockTransaction
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .dynamic-column-item-ddl {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        height: calc(3.25rem + 2px);
        min-width: 230px !important;
    }

    .dynamic-column-item {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 238px !important;
    }

    .dynamic-column-item-btn {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        min-width: 237px !important;
    }

    .dynamic-column-item-value {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        height: calc(3.25rem + 2px);
        min-width: 177px !important;
    }

    .row-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .col-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-desc {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }


    .total-Text {
        display: table-cell;
        font-weight: bold;
        color: #6b6f82;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 1px 2rem;
        min-width: 450px !important;
    }
    /*  arijit*/
    .desc {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-total {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border: 1px solid #e3ebf3;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }

    .dynamic-column-item-value-blank {
        display: table-cell;
        color: #6b6f82;
        text-align: inherit;
        white-space: nowrap;
        vertical-align: top;
        border-bottom: 1px solid #e3ebf3;
        padding: 0.75rem 2rem;
        min-width: 150px !important;
    }
</style>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Sale</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/WeightDetails/List">Sale Details</a></li>
                        <li class="breadcrumb-item active">Add Sale Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Sale", "SalePurchase", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            @Html.HiddenFor(model => model.Id)
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerId)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.CustomerId)
                                            @Html.EditorFor(model => model.CustomerId, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Customer Name"
                                                }
                                            })
                                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PacketId)<span class="text-red">*</span>
                                            @Html.DropDownListFor(model => model.PacketId, (SelectList)TempData["Packet"], "Select a Packet", new { @Class = "form-control", @Id = "ddlPacket" })

                                            @Html.ValidationMessageFor(model => model.PacketId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BostaQuantity)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.BostaQuantity, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Bosta Quantity"
                                           }
                                            })
                                            @Html.ValidationMessageFor(model => model.BostaQuantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Weight, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control",
                                               @placeholder = "Weight",
                                               @readonly = "readonly"
                                           }
                                       })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Price, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Price"
                                                }
                                            })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date)<span class="text-red">*</span>
                                            <div class="input-group date" id="Date" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.Date, new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @class = "form-control datetimepicker-input",
                                                @AttributeTargets = "#Date",
                                                        @placeholder = "Date"
                                                    }
                                                })
                                                <div class="input-group-append" data-target="#Date" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>

                                            </div>



                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>

    <section class="content" id="sectionTransaction">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                        <div class="card-header">Transaction Details</div>

                        <!-- /.card-header -->
                        @*<div class="card-header">Operation list for</div>*@
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@


                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        <label>Total</label>
                                        <input type="text" class="form-control" id="totalrate" />
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Transaction Date</label>
                                        <div class="input-group date" id="TransactionDate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="txtTransactionDate" data-target="#TransactionDate" />
                                            @*  @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate", @placeholder = "Issue Date" } })*@
                                            <div class="input-group-append" data-target="#TransactionDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        @*<label>Bank Name</label>
                                            <input type="text" class="form-control" id="txtBankName" />*@
                                        <label>Mode of payment</label>
                                        <select class="form-control" id="ddlPaymentMode"></select>
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        @*<label>Bank Name</label>
                                            <input type="text" class="form-control" id="txtBankName" />*@
                                        <label>Bank Name</label>
                                        <select class="form-control" id="ddlBank"></select>
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        <label>Cheque No</label>
                                        <input type="text" class="form-control" id="txtChequeNo" />
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        <label>Draft No</label>
                                        <input type="text" class="form-control" id="txtDraftNo" />
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                            </div>

                            <button onclick="Reset()" type="reset" class="btn btn-secondary text-left">Reset</button>
                            <button type="button" class="btn btnSave btn-primary btn-left">Submit</button>
                        </div>



                    </div>

                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script src="~/CustomScript/Utility/dropdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#NetWeight").prop('readOnly', true);
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }

        $('#BostaQuantity').on('input', function () {
            calculateWeight();
        });

        $("#ddlPacket").change(function () {
            calculateWeight();
        });
        function calculateWeight() {
            var bostaQuantity = $('#BostaQuantity').val();
            var selectedPacket = $('#ddlPacket option:selected').text().split('(')[1].match(/\d+/)[0];
            var weight = selectedPacket * bostaQuantity;
            $('#Weight').val(weight);
        }

        $('#Date').datetimepicker({
            //format: 'HH:mm'
            format: 'DD/MM/YYYY',
            //format: 'L',
        });

    });
</script>
