﻿
@{
    ViewBag.Title = "SaleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Sales Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/index">Sales</a></li>
                        <li class="breadcrumb-item"><a href="/Home/VendorProfile">Purchase Entry</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row" id="divstockcount">

                <!-- ./col -->
                <!-- ./col -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Sale Add", "Sale", "Stock",
                            new { @class = "btn  bg-gradient-primary" })
                            @*@Html.ActionLink("Move to production", "MoveToProduction", "SalePurchase",
                           new { @class = "btn  bg-gradient-primary" })*@
                            <input type="button" class="btn  bg-gradient-primary" id="btnExport" value="Export To Excel" />
                            <div class="clearfix"></div><br />
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Accessories</label>
                                </div>
                            </div>
                            <div class="clearfix"></div><br />
                            <div id="tblPurchase">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetPurchaseStockCount();
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadAvailableStock();
    GetSaleStockCount();

});
    $("#btnExport").click(function () {
        $("#tblPurchase").table2excel({
            filename: "PurchaseDetails.xls"
        });
    });
    function LoadAvailableStock() {
        $.ajax({
            url: '/SalePurchase/GetSaleDetails',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
                success: function (result) {

                    $('#tblPurchase').html("");
                    var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Bosta Description</th><th scope="col">Bosta Quantity</th><th scope="col">Weight</th><th scope="col">Price</th><th scope="col">Unit</th><th scope="col">Action</th></tr></thead><tbody>';
                    //alert(tblHead);
                    var tbody = ""
                    for (var i = 0; i < result.length; i++) {

                        //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                        tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].Description + '</td ><td>' + result[i].BostaQuantity + '</td ><td>' + result[i].Weight + '</td ><td>' + result[i].Price + '</td ><td>' + result[i].Unit + '</td><td><a href="#" onclick="Print(' + result[i].Id + ');"><i class="fa fa-fw fa-print" ></i></a ></td></tr >'
                    }
                    $('#tblPurchase').html(tblHead + tbody + '</tbody></table>');
                    $("#example1").DataTable();
                },
            });
    }
    function Edit(Id) {
        window.location.href = '/SalePurchase/AddPurchase?Id=' + Id + '';
    }

    function Print(PacketId) {
        //window.location.href = '/WeightDetails/Invoice?TransactionId=' + TransactionId + '';
        window.open('/SalePurchase/Invoice?PacketId=' + Id + '', '_blank');
    }
    function GetSaleStockCount() {
        var requestData = {

        };
        $.ajax({
            url: '/SalePurchase/GetSaleStockCount',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#divstockcount').append(html);
                var html = "";
                $('#divstockcount').html(html);
                for (var i = 0; i < result.length; i++) {

                    html = html + '<div class="col-lg-3 col-6">'

                    html = html + '<div class="small-box bg-info"><div class="inner">'

                    html = html + '<h3>' + result[i].TotalWeight + ' ' + result[i].Unit + '</h3>'
                    html = html + '<h4>' + result[i].BostaQuantity + ' BOSTA</h4>'
                    html = html + '<p>' + result[i].Description + '</p> </div><div class="icon"><i class="ion ion-bag"></i></div> </div></div>'


                }
                $('#divstockcount').append(html);


            },
        });
    }
</script>


