﻿@model FMS.BL.WeightDetails

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Weight Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/WeightDetails/List">Weight Details</a></li>
                        <li class="breadcrumb-item active">Add Weight Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "WeightDetails", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerName)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.TransactionId)
                                            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Name" } })
                                            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VehicleNo)<span class="text-red">*</span>
                                          
                                            @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vehicle number" } })
                                            @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Product)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Product, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product" } })
                                            @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Misc_1st_weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Misc_1st_weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Misc 1st Weight" } })
                                            @Html.ValidationMessageFor(model => model.Misc_1st_weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Misc_2nd_weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Misc_2nd_weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Misc 2nd Weight" } })
                                            @Html.ValidationMessageFor(model => model.Misc_2nd_weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date_First_Weight)<span class="text-red">*</span>
                                            <div class="input-group date" id="Weight1" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.Date_First_Weight, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#Weight1", @placeholder = "Date of First Weight" } })
                                                <div class="input-group-append" data-target="#Weight1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>

                                            </div>



                                            @Html.ValidationMessageFor(model => model.Date_First_Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.First_Weight_Time)<span class="text-red">*</span>
                                            <div class="input-group date" id="First_Weight_Time" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.First_Weight_Time, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#Weight1", @placeholder = "Date of First Weight" } })
                                                <div class="input-group-append" data-target="#First_Weight_Time" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                                </div>

                                            </div>



                                            @Html.ValidationMessageFor(model => model.Date_First_Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date_Second_Weight)<span class="text-red">*</span>
                                            <div class="input-group date" id="Weight2" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.Date_Second_Weight, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#Weight2", @placeholder = "Date of Second Weight" } })
                                                <div class="input-group-append" data-target="#Weight2" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date_Second_Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Second_Weight_Time)<span class="text-red">*</span>
                                            <div class="input-group date" id="Time_Second_Weight" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.Second_Weight_Time, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#Weight1", @placeholder = "Date of First Weight" } })
                                                <div class="input-group-append" data-target="#Time_Second_Weight" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                                </div>

                                            </div>



                                            @Html.ValidationMessageFor(model => model.Date_First_Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.First_weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.First_weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "First weight" } })
                                            @Html.ValidationMessageFor(model => model.First_weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Second_weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Second_weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Second Weight" } })
                                            @Html.ValidationMessageFor(model => model.Second_weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UnitId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.UnitId, (SelectList)ViewBag.Unit, "Select a unit", new { @Class = "form-control", @Id = "ddlUnit" })

                                            @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NetWeight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.NetWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Net Weight" } })
                                            @Html.ValidationMessageFor(model => model.NetWeight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.WeightCharges)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.WeightCharges, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight Charges" } })
                                            @Html.ValidationMessageFor(model => model.WeightCharges, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#NetWeight").prop('readOnly', true);
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#First_weight, #Second_weight').keyup(function () {
            var value1 = parseFloat($('#First_weight').val()) || 0;
            var value2 = parseFloat($('#Second_weight').val()) || 0;
            $('#NetWeight').val(value2 - value1);
        });

        //Date range picker
        $('#Weight1').datetimepicker({
           // format: 'L',
            format: 'DD/MM/YYYY',
        });
        $('#Weight2').datetimepicker({
            //format: 'L',
            format: 'DD/MM/YYYY',
           
        });
        $('#First_Weight_Time').datetimepicker({
            format: 'HH:mm',


        });
        $('#Time_Second_Weight').datetimepicker({
            format: 'HH:mm',


        });

        



    });
</script>