﻿@model IEnumerable<FMS.BL.WeightDetails>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
                /* Cubic Bezier Transition */
                /***
        Invoice page
        ***/
                .invoice {
                    margin: 0;
                }

                    .invoice table {
                        margin: 30px 0 30px 0;
                    }

                    .invoice .invoice-logo {
                        margin-bottom: 20px;
                    }

                        .invoice .invoice-logo p {
                            padding: 5px 0;
                            font-size: 26px;
                            line-height: 28px;
                            text-align: right;
                        }

                            .invoice .invoice-logo p span {
                                display: block;
                                font-size: 14px;
                            }

                    .invoice .invoice-logo-space {
                        margin-bottom: 15px;
                    }

                    .invoice .invoice-payment strong {
                        margin-right: 5px;
                    }

                    .invoice .invoice-block {
                        text-align: right;
                    }

                        .invoice .invoice-block .amounts {
                            margin-top: 20px;
                            font-size: 14px;
                        }
    </style>
<<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Weight Details list </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item active">Weight Details list</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add WeightDetails", "Add", "WeightDetails",
                            new { @class = "btn  bg-gradient-primary" })
                            <input type="button" class="btn  bg-gradient-primary" id="btnExport" value="Export To Excel" />
                            <input type="button" class="btn  bg-gradient-primary" onclick="DownloadPDF()" id="btnExporttoPDF" value="Export To PDF" />
                            <div class="clearfix"></div><br />

                            @*<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Print</button>*@
                            @*<div class="invoice">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Receipt Copy</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-12 col-form-label">
                                    <h2 style="text-align:center; line-height:5px;">GOUR FLOUR FLOUR MILLs(P) LTD</h2>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 col-form-label">
                                    <p style="text-align:center;line-height:5px;margin-bottom: 0rem;">VILL & P.O NARAYANPUR.DIST-MALDA.PIN-732141</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 col-form-label">
                                    <p style="text-align:center;line-height:5px;margin-bottom: 0rem;">9434085130/9382654800</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 col-form-label">
                                    <h2 style="text-align:center;line-height:5px;">Approved By Govt Of West Bengal</h2>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-7 col-form-label">
                                    <label>Transaction No:</label>
                                </div>
                                <div class="col-sm-5 col-form-label">
                                    <label>Date:</label>
                                </div>
                            </div>
                            <hr style="border: 1px dashed black;" />
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4 col-form-label">
                                    <label>Vechicle No:</label>
                                </div>
                                <div class="col-sm-8 col-form-label">
                                    <input class="col-8" />
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4 col-form-label">
                                    <label>Supp/Cust:</label>
                                </div>
                                <div class="col-sm-8 col-form-label">
                                    <input class="col-8" />
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4 col-form-label">
                                    <label>Product:</label>
                                </div>
                                <div class="col-sm-8 col-form-label">
                                    <input class="col-8" />
                                </div>
                            </div><br />
                            <br />
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4 col-form-label">
                                    <label>Misc 1st Weight:</label>
                                </div>
                                <div class="col-sm-8 col-form-label">
                                    <input class="col-8" />
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4 col-form-label">
                                    <label>Misc 2nd Weight</label>
                                </div>
                                <div class="col-sm-8 col-form-label">
                                    <input class="col-8" />
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-7">
                                    <label>Date First Weight</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>First Weight</label>
                                </div>

                            </div>
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-7">
                                    <label>Date Second Weight</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>Second Weight</label>
                                </div>

                            </div>
                            <hr style="border: 1px dashed black;" />
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-4" style=" left: 60%;">
                                    <label>Net Weight</label>
                                </div>

                            </div>
                            <hr style="border: 1px dashed black;" />
                            <div class="form-group row col-sm-12">
                                <div class="col-sm-7">
                                    <label>Weighting Charges:</label>
                                </div>
                                <div class="col-sm-5">
                                    <label>Signeture</label>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-form-label">
                                    <p style="text-align:center; line-height:5px;">Thank You, Visit Again</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="javascript:window.print();">Print</button>
                                <button type="button" class="btn btn-primary">Save PDF</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>*@
                            <div class="clearfix"></div><br />
                            <div id="tblWeightDetails">

                            </div>
                            <div id="hiddentblWeightDetails" style="display:none">

                            </div>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      //  $('#').
        $("#btnExport").click(function () {
            $("#hiddentable").table2excel({
                filename: "WeightDetailsList.xls"
            });
        });

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadWeightDetails(0);
});

    function LoadWeightDetails(TransactionId) {

    var requestData = {
        TransactionId: TransactionId
    };
    $.ajax({
        url: '/WeightDetails/LoadWeightDetails',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblWeightDetails').html("");
                $('#hiddentblWeightDetails').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Customer Name</th><th scope="col">Vehicle Number</th><th scope="col">Product</th><th scope="col">First Weight</th><th scope="col">Second Weight</th><th scope="col">Unit</th><th scope="col">Net Weight</th><th scope="col">Weight Charges</th><th scope="col">Action</th></tr></thead><tbody>';
                var tblHeadhidden = '<table class="table table-bordered table-striped table-responsive-lg" id="hiddentable" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Customer Name</th><th scope="col">Vehicle Number</th><th scope="col">Product</th><th scope="col">First Weight</th><th scope="col">Second Weight</th><th scope="col">Unit</th><th scope="col">Net Weight</th><th scope="col">Weight Charges</th></tr></thead><tbody>';
                //WeightDetails(tblHead);
                var tbody = "";
                var tbodyhidden = ""
                for (var i = 0; i < result.length; i++) {
                    var status = null;
                    if (result[i].IsActive == 0) {
                        status = "Inactive"
                    }
                    else {
                        status = "Active"
                    }
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].CustomerName + '</td ><td>' + result[i].VehicleNo + '</td ><td>' + result[i].Product + '</td><td>' + result[i].First_weight + '</td><td>' + result[i].Second_weight + '</td><td>' + result[i].UnitName + '</td><td>' + result[i].NetWeight + '</td><td>' + result[i].WeightCharges + '</td><td><a href="#" onclick="Edit(' + result[i].TransactionId + ');"><i class="fa fa-fw fa-edit" ></i></a ><a href="#" onclick="Print(' + result[i].TransactionId + ');"><i class="fa fa-fw fa-print" ></i></a ></td></tr >'
                    tbodyhidden = tbodyhidden + '<tr style="background-color:White;"><td>' + result[i].CustomerName + '</td ><td>' + result[i].VehicleNo + '</td ><td>' + result[i].Product + '</td><td>' + result[i].First_weight + '</td><td>' + result[i].Second_weight + '</td><td>' + result[i].UnitName + '</td><td>' + result[i].NetWeight + '</td><td>' + result[i].WeightCharges + '</td></tr >'
                }
                $('#tblWeightDetails').html(tblHead + tbody + '</tbody></table>');
                $('#hiddentblWeightDetails').html(tblHeadhidden + tbodyhidden + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }

    function Edit(TransactionId) {
        window.location.href = '/WeightDetails/Add?TransactionId=' + TransactionId + '';
    }

    function Print(TransactionId) {
        //window.location.href = '/WeightDetails/Invoice?TransactionId=' + TransactionId + '';
        window.open('/WeightDetails/Invoice?TransactionId=' + TransactionId + '', '_blank');
    }

    function Delete(TransactionIdTodelete) {

        bootbox.confirm("Are you sure you want to delete this WeightDetails?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/Alert/Delete?transactionId=' + transactionIdTodelete + '';
                // LoadEmployee(0);
            }


        })
    }

    function DownloadPDF() {
        $.ajax({
            type: "POST",
            // url: "/AdminReports/ExportESCROWStatementToPDF?year=" + $('#Year').val() + "&month=" + $('#Month').val() + "&corporateName=" + $('#CorporateID').val(),
            url: "/WeightDetails/LoadPDFForWeightDetails",
            cache: false,
            success: function (data) {
                window.location = '/WeightDetails/DownloadPDFForWeightDetails';
            },
            error: function (data) {
                //  Materialize.toast("Something went wrong. ", 3000, 'rounded');
                toastr.error('Something went wrong.');
            }
        });
    }


</script>
<script type="text/javascript">
    $(document).ready(function () {

        // Attach Button click event listener 
        $("#myBtn").click(function () {

            // show Modal
            $('#myModal').modal('show');
        });
    });
</script>