﻿@model FMS.BL.Assets

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Assets</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Assets/List">Assets</a></li>
                        <li class="breadcrumb-item active">Add Assets</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "Assets", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SerialNumber)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.AssetsId)
                                            @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Serial Number" } })
                                            @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeedNumber)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.DeedNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Deed Number" } })
                                            @Html.ValidationMessageFor(model => model.DeedNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">

                                      
                                            @Html.LabelFor(model => model.Date)<span class="text-red">*</span>
                                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                @*<input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />*@
                                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @AttributeTargets = "#reservationdate", @placeholder = "Date" } })
                                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                        
                                    </div>

                                    
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PlotNumber)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.PlotNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Plot Number" } })
                                            @Html.ValidationMessageFor(model => model.PlotNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Moja)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Moja, new { htmlAttributes = new { @class = "form-control", @placeholder = "Moja" } })
                                            @Html.ValidationMessageFor(model => model.Moja, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreaOfLand)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.AreaOfLand, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area Of Land" } })
                                            @Html.ValidationMessageFor(model => model.AreaOfLand, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ValueOfLand)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.ValueOfLand, new { htmlAttributes = new { @class = "form-control", @placeholder = "Value Of Land" } })
                                            @Html.ValidationMessageFor(model => model.ValueOfLand, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Remarks)<span class="text-red">*</span>
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "remarks" })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }


        //Date range picker
        $('#reservationdate').datetimepicker({
            //format: 'HH:mm'
            format: 'DD/MM/YYYY',
            //format: 'L',
        });
    });
</script>