﻿@model FMS.BL.Accessories

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Add Accessories</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                            <li class="breadcrumb-item"><a href="/Accessories/List">Accessories</a></li>
                            <li class="breadcrumb-item active">Add Accessories</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
                @using (Html.BeginForm("Add", "Accessories", FormMethod.Post, new { id = "Add" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            <div class="card card-warning">

                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccessoriesName)<span class="text-red">*</span>
                                                @Html.HiddenFor(model => model.AccessoriesId)
                                                @Html.EditorFor(model => model.AccessoriesName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Accessories Name" } })
                                                @Html.ValidationMessageFor(model => model.AccessoriesName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccessoriesTypeId)<span class="text-red">*</span>

                                                @Html.DropDownListFor(model => model.AccessoriesTypeId, (SelectList)ViewBag.AccessoriesTypes, "Select type", new { @Class = "form-control", @Id = "ddlAccessoriesTypes" })

                                                @Html.ValidationMessageFor(model => model.AccessoriesTypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccessoriesDescription)
                                                @Html.TextAreaFor(model => model.AccessoriesDescription, new { @class = "form-control", @placeholder = "Accessories Description" })
                                                @Html.ValidationMessageFor(model => model.AccessoriesDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @*  <input class="custom-control-input" type="checkbox" id="cbx_active" value="option1">*@
                                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                                                    @*<label for="cbx_active" class="custom-control-label">Is Active</label>*@
                                                    @Html.LabelFor(model => model.IsActive, new { @class = "custom-control-label" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                    <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->
                    <!-- /.card -->
                }
            </div>

        </section>
    </div>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
</script>