﻿@model FMS.BL.Employee
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Employee </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Employee/List">Employee</a></li>
                        <li class="breadcrumb-item active">Add Employee</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "Employee", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.EmployeeId)
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BranchId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branch, "Select branch", new { @Class = "form-control", @Id = "ddlBranch" })

                                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CAddress)<span class="text-red">*</span>
                                            @Html.TextAreaFor(model => model.CAddress, new { @class = "form-control", @placeholder = "Contact address" })
                                            @Html.ValidationMessageFor(model => model.CAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Mobile)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile" } })
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeTypeId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.EmployeeTypeId, (SelectList)ViewBag.EmployeeType, "Select employee type", new { @Class = "form-control", @Id = "ddlEmployeeTypeId" })

                                            @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.KACHA_SALARY)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.KACHA_SALARY, new { htmlAttributes = new { @class = "form-control", @placeholder = "KACHA SALARY" } })
                                            @Html.ValidationMessageFor(model => model.KACHA_SALARY, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PAKA_SALARY)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.PAKA_SALARY, new { htmlAttributes = new { @class = "form-control", @placeholder = "PAKA SALARY" } })
                                            @Html.ValidationMessageFor(model => model.PAKA_SALARY, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PF)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.PF, new { htmlAttributes = new { @class = "form-control", @placeholder = "PF" } })
                                            @Html.ValidationMessageFor(model => model.PF, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                @*  <input class="custom-control-input" type="checkbox" id="cbx_active" value="option1">*@
                                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                                                @*<label for="cbx_active" class="custom-control-label">Is Active</label>*@
                                                @Html.LabelFor(model => model.IsActive, new { @class = "custom-control-label" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->
                    <!-- /.card -->
            }
        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
</script>


<script src="~/CustomScript/Employee/Add.js"></script>