﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Loan </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Employee</a></li>
                        <li class="breadcrumb-item active">Add Loan</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add Loan", "EmployeeLoan", "Employee",
                            new { @class = "btn  bg-gradient-primary" })
                            <div class="clearfix"></div><br />
                            <div id="tblLoan">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadLoan(0);
});

    function LoadLoan(BranchId) {

    var requestData = {
        BranchId: BranchId
    };
    $.ajax({
        url: '/Employee/LoadLoan',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblLoan').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Employee Name</th><th scope="col">Loan Amount</th><th scope="col">Paid Amount</th><th scope="col">Due Amount</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                   
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].Fullname + '</td ><td>' + result[i].TotalLoan + '</td><td>' + result[i].PaidAmount + '</td><td>' + result[i].DueLoan + '</td></tr >'
                }
                $('#tblLoan').html(tblHead + tbody + '</tbody></table>');
               // $("#example1").DataTable();
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    buttons: [ {
                        extend: 'excel',
                        title: 'Laon Details',
                        filename: 'Laon Details'
                    }]
                });
            },
        });
    }

    function Edit(branchid) {
        window.location.href = '/Branch/Add?branchid=' + branchid + '';
    }

    function Delete(branchidTodelete) {

        bootbox.confirm("Are you sure you want to delete this category?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/Branch/Delete?branchid=' + branchidTodelete + '';
                // LoadEmployee(0);
            }


        })
    }
</script>
