﻿
@{
    ViewBag.Title = "EmployeeSalaryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Salary Management</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Employee</a></li>

                        <li class="breadcrumb-item active">Salary List</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Salary Disburse", "Salary", "Employee",
                            new { @class = "btn  bg-gradient-primary" })
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        <label>Year</label>
                                        <select class="form-control" id="ddlYear"></select>
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.LedgerTypeId)<span class="text-red"></span>*@
                                        <label>Month</label>
                                        <select class="form-control" id="ddlMonth"></select>
                                        @*@Html.DropDownListFor(model => model.LedgerTypeId, (SelectList)ViewBag.LedgerType, "Select Ledger  type", new { @Class = "form-control", @Id = "ddlLedgerType" })*@
                                        @*@Html.ValidationMessageFor(model => model.LedgerTypeId, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>



                            </div>
                            <button onclick="Add();" type="button" class="btn  bg-gradient-primary">Submit</button>
                            <div class="clearfix"></div><br />
                            <div id="tblEmployee">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>
<script src="~/CustomScript/Utility/dropdown.js"></script>
<script>
    $(document).ready(function () {
        LoadYear();
        LoadMonth();
       
       // GetPurchaseStockCount();
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });

    function Add() {
        var year = $('#ddlYear').val();
        var month = $('#ddlMonth').val();
        LoadEmployeeLoanDetails(year, month);
    }

    function LoadEmployeeLoanDetails(Year, Month) {
        console.log(Year, +'' + Month);
        var requestData = {
            Year: Year,
            Month: Month
        };
        $.ajax({
            url: '/Employee/SalaryList',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblEmployee').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Year</th><th scope="col">Month</th><th scope="col">Employee Name</th><th scope="col">Paka Salary</th><th scope="col">Kacha Salary</th><th scope="col">Deduction</th><th scope="col">Deduction Remarks</th><th scope="col">Bonus</th><th scope="col">Bonus Remarks</th><th scope="col">Loan Deduction</th><th scope="col">Gross</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].Year + '</td ><td>' + result[i].MonthName + '</td ><td>' + result[i].Fullname + '</td ><td>' + result[i].Paka_Salary + '</td><td>' + result[i].Kacha_Salary + '</td><td>' + result[i].Deduction + '</td><td>' + result[i].DeductionRemarks + '</td><td>' + result[i].Bonus + '</td><td>' + result[i].BonusRemarks + '</td><td>' + result[i].LoanDeduction + '</td><td>' + result[i].Gross + '</td><td>&nbsp;<a href="#" onclick="Edit(' + result[i].FullName + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                $('#tblEmployee').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }

    function LoadYear() {
        DropdownBinder.DDLData = {
            tableName: "tbl_Year",
            Text: 'Year',
            Value: 'Year'
        };
        DropdownBinder.DDLElem = $("#ddlYear");
        DropdownBinder.Execute();
    }

    function LoadMonth() {
        DropdownBinder.DDLData = {
            tableName: "tbl_Month",
            Text: 'Name',
            Value: 'Id'
        };
        DropdownBinder.DDLElem = $("#ddlMonth");
        DropdownBinder.Execute();
    }

    
</script>

