﻿@model FMS.BL.EmployeeSalary
@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Salary Management</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Employee</a></li>

                        <li class="breadcrumb-item active">Salary Management</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Salary", "Employee", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Year)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.Year, (SelectList)ViewBag.YearList, "Select Year", new { @Class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Month)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.Month, (SelectList)ViewBag.MonthList, "Select Month", new { @Class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeId)<span class="text-red">*</span>

                                            @Html.DropDownListFor(model => model.EmployeeId, (SelectList)ViewBag.EmployeeList, "Select Employee", new { @Class = "form-control", @Id = "ddlEmployeeTypeId" })

                                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Kacha_Salary)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Kacha_Salary, new { htmlAttributes = new { @class = "form-control", @placeholder = "KACHA SALARY", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.Kacha_Salary, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Paka_Salary)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Paka_Salary, new { htmlAttributes = new { @class = "form-control", @placeholder = "PAKA SALARY", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.Paka_Salary, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PF)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.PF, new { htmlAttributes = new { @class = "form-control", @placeholder = "PF", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.PF, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Bonus)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Bonus, new { htmlAttributes = new { @class = "form-control", @placeholder = "BONUS" } })
                                            @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BonusRemarks)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.BonusRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "BONUS REMARKS" } })
                                            @Html.ValidationMessageFor(model => model.BonusRemarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Deduction)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Deduction, new { htmlAttributes = new { @class = "form-control", @placeholder = "DEDUCTION" } })
                                            @Html.ValidationMessageFor(model => model.Deduction, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeductionRemarks)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.DeductionRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "DEDUCTION REMARKS" } })
                                            @Html.ValidationMessageFor(model => model.DeductionRemarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LoanAmount)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "LOAN AMOUNT", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DueAmount)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.DueAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Due AMOUNT", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.DueAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LoanDeduction)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.LoanDeduction, new { htmlAttributes = new { @class = "form-control", @placeholder = "LOAN DEDUCTION" } })
                                            @Html.ValidationMessageFor(model => model.LoanDeduction, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Gross)<span class="text-red"></span>
                                            @Html.EditorFor(model => model.Gross, new { htmlAttributes = new { @class = "form-control", @placeholder = "GROSS SALARY" , @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.Gross, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                    <button onclick="Reset()" type="reset" class="btn btn-secondary text-left">Reset</button>
                                    @*<button type="button" form="Add" class="btn btn-danger btn-left">Lock</button>*@
                                    <button type="submit"  form="Add" class="btn btn-primary btn-left">Salary Disburse</button>
                                    @*<button type="button" onclick="LoadSalaryList()" form="Add" class="btn btn-primary btn-left">Submit</button>*@
                                </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>
        <section class="content" style="display:none">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">

                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            @*<div class="card-header">Operation list for</div>*@
                            <div class="card-body">
                                @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                                @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@

                                <div class="clearfix"></div><br />
                                <div id="tblSalaryList">

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->
                    <!-- /.card -->
                </div>

            </div>

        </section>

    </section>
</div>
<script>
     $(document).ready(function () {
       // GetPurchaseStockCount();
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
    $(function () {
       // console.log(GetYear());
       // $('#ddlYear').html(GetYear());
       // $('#ddlMonth').html(GetMonth());
        $("#ddlEmployeeTypeId").change(function () {

            var EmployeeId = $("#ddlEmployeeTypeId").val();
            //alert(EmployeeId)
            LoadEmployeeSalaryDetails(EmployeeId)
            LoadEmployeeLoanDetails(EmployeeId);
            
        });

        $("#Bonus").keyup(function () {
            GrossSalary();

        });

        $("#Deduction").keyup(function () {
            GrossSalary();

        });
        $("#LoanDeduction").keyup(function () {

            GrossSalary();

        });


    });

    function LoadEmployeeLoanDetails(Employeeid) {
        var requestData = {
            Employeeid: Employeeid
        };
        $.ajax({
            url: '/Employee/LoadEmployeeLoanDetails',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {


                for (var i = 0; i < result.length; i++) {
                    $("#LoanAmount").val(result[i].LaonAmount);
                    $("#DueAmount").val(result[i].DueAmount);
                    if (result[i].DueAmount == 0) {
                        $("#LoanDeduction").attr("disabled", "disabled");
                    }
                    else {
                        $("#LoanDeduction").removeAttr("disabled");;
                    }

                }

            },
        });
    }

    function LoadEmployeeSalaryDetails(Employeeid)
    {
        var requestData = {
            Employeeid: Employeeid
        };
        $.ajax({
            url: '/Employee/LoadEmployee',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                //$('#tblSalaryList').html("");
                //var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th></th><th scope="col">Employee Name</th><th scope="col">Paka Salary</th><th scope="col">Kacha Salary</th><th scope="col">PF</th><th scope="col">Loan Amount</th><th scope="col">Total Due </th><th scope="col">Loan Deduction</th><th scope="col">Action</th></tr></thead><tbody>';
                ////alert(tblHead);
                //var tbody = ""
                //for (var i = 0; i < result.length; i++) {
                //    if (result[i].IsPaid == true) {
                //        tbody = tbody + '<tr style="background-color:White;"><td><input type="checkbox" id="chk_' + i + '" name="employee" value="' + result[i].EmployeeId + '" checked></td><td>' + result[i].Fullname + '</td ><td id="paka_salary_' + i + '">' + result[i].PAKA_SALARY + '</td><td id="kacha_salary_' + i + '">' + result[i].KACHA_SALARY + '</td><td id="pf_' + i + '">' + result[i].PF + '</td><td id="loanamount_' + i + '">' + result[i].LoanAmount + '</td><td id="dueamount_' + i + '">' + result[i].DueAmount + '</td><td><input value="' + result[i].DeductionAmount + '" id="deduction_' + i + '" disabled/></td><td><a href="#" onclick="SalarySlip(' + result[i].EmployeeId + ')"><i class="fa fa-print"></i></i></a ></td></tr >'
                //    }
                //    else {
                //        tbody = tbody + '<tr style="background-color:White;"><td><input type="checkbox" id="chk_' + i + '" name="employee" value="' + result[i].EmployeeId + '"></td><td>' + result[i].Fullname + '</td ><td id="paka_salary_' + i + '">' + result[i].PAKA_SALARY + '</td><td id="kacha_salary_' + i + '">' + result[i].KACHA_SALARY + '</td><td id="pf_' + i + '">' + result[i].PF + '</td><td id="loanamount_' + i + '">' + result[i].LoanAmount + '</td><td id="dueamount_' + i + '">' + result[i].DueAmount + '</td><td><input value="' + result[i].DeductionAmount + '" id="deduction_' + i + '"/></td><td></td></tr >'

                //    }

                //    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';

                //}

                //$('#tblSalaryList').html(tblHead + tbody + '</tbody></table>');


                // $("#example1").DataTable();
                for (var i = 0; i < result.length; i++) {
                    $("#Kacha_Salary").val(result[i].KACHA_SALARY);
                    $("#Paka_Salary").val(result[i].PAKA_SALARY);
                    $("#PF").val(result[i].PF);
                }
                GrossSalary();
            },
        });

    }

    function LoadSalaryList() {

        var requestData = {
            Year: $('#ddlYear').val(),
            Month: $('#ddlMonth').val()
        };
        $.ajax({
            url: '/Employee/SalaryList',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {

                $('#tblSalaryList').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th></th><th scope="col">Employee Name</th><th scope="col">Paka Salary</th><th scope="col">Kacha Salary</th><th scope="col">PF</th><th scope="col">Loan Amount</th><th scope="col">Total Due </th><th scope="col">Loan Deduction</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    if (result[i].IsPaid == true) {
                        tbody = tbody + '<tr style="background-color:White;"><td><input type="checkbox" id="chk_' + i + '" name="employee" value="' + result[i].EmployeeId + '" checked></td><td>' + result[i].Fullname + '</td ><td id="paka_salary_' + i + '">' + result[i].PAKA_SALARY + '</td><td id="kacha_salary_' + i + '">' + result[i].KACHA_SALARY + '</td><td id="pf_' + i + '">' + result[i].PF + '</td><td id="loanamount_' + i + '">' + result[i].LoanAmount + '</td><td id="dueamount_' + i + '">' + result[i].DueAmount + '</td><td><input value="' + result[i].DeductionAmount + '" id="deduction_' + i + '" disabled/></td><td><a href="#" onclick="SalarySlip(' + result[i].EmployeeId + ')"><i class="fa fa-print"></i></i></a ></td></tr >'
                    }
                    else {
                        tbody = tbody + '<tr style="background-color:White;"><td><input type="checkbox" id="chk_' + i + '" name="employee" value="' + result[i].EmployeeId + '"></td><td>' + result[i].Fullname + '</td ><td id="paka_salary_' + i + '">' + result[i].PAKA_SALARY + '</td><td id="kacha_salary_' + i + '">' + result[i].KACHA_SALARY + '</td><td id="pf_' + i + '">' + result[i].PF + '</td><td id="loanamount_' + i + '">' + result[i].LoanAmount + '</td><td id="dueamount_' + i + '">' + result[i].DueAmount + '</td><td><input value="' + result[i].DeductionAmount + '" id="deduction_' + i + '"/></td><td></td></tr >'

                    }

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';

                }

                $('#tblSalaryList').html(tblHead + tbody + '</tbody></table>');


                // $("#example1").DataTable();
            },
        });
    }

    function SalaryDisburse() {
        var SalaryValue = [];
        var i = 0;
        $('#example1 tbody tr').each(function () {
            var deductamount = $("#deduction_" + i + "").val();
            if (deductamount == null || deductamount == "") {
                deductamount = 0;
            }

            SalaryValue.push({
                // "IsPaid": $("#chk_" + i + "").val(),
                "IsPaid": $("#chk_" + i + "").is(":checked"),
                "EmployeeId": $("#chk_" + i + "").val(),
                "KACHA_SALARY": $("#kacha_salary_" + i + "").text(),
                "PAKA_SALARY": $("#paka_salary_" + i + "").text(),
                "PF": $("#pf_" + i + "").text(),
                "LoanAmount": $("#loanamount_" + i + "").text(),
                "DueAmount": $("#dueamount_" + i + "").text(),
                "DeductionAmount": deductamount

            })
            i = i + 1;

        });

        var requestData = {
            SalaryValue: SalaryValue,
            Year: $('#ddlYear').val(),
            Month: $('#ddlMonth').val()

            //LedgerId: $("#ddlLedger").val()
        };
        console.log(SalaryValue);
        $.ajax({
            type: "POST",
            url: "/Employee/SalaryDisburse",
            data: JSON.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null && data != undefined && data.SuccessFlag == "1") {
                    toastr.success(data.Msg);
                    LoadSalaryList();
                }
                else {
                    toastr.error('Error');
                }
            },
            error: function (data) {
                toastr.error('Critical Error');

            }
        });
    }


    function SalarySlip(EmployeeId) {
        var year = $('#ddlYear').val();

        var month = $('#ddlMonth').val();
        //window.location.href = '/WeightDetails/Invoice?TransactionId=' + TransactionId + '';
        window.open('/Employee/SalarySlip?EmployeeId=' + EmployeeId + '&Month=' + month + '&Year=' + year + '', '_blank');
    }

    function GrossSalary() {
        var kachasalary = parseFloat($('#Kacha_Salary').val());
        var pakasalary = parseFloat($('#Paka_Salary').val());
        var PF = parseFloat(getNum($('#PF').val()));
        var Bonus = parseFloat(getNum($('#Bonus').val()));

        var Deduction = parseFloat(getNum($('#Deduction').val()));
        var LoanDeduction = parseFloat(getNum($('#LoanDeduction').val()));

        var Gross = (kachasalary + pakasalary + PF + Bonus) - (Deduction + LoanDeduction);
        $('#Gross').val(Gross);

    }

    function getNum(val) {
        if (val=="") {
            return 0;
        }
        return val;
    }
</script>
