﻿@model FMS.BL.PurchaseEntry

@{
    ViewBag.Title = "AddPurchaseEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPurchaseEntry</h2>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Purchase Entry</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item"><a href="/WeightDetails/List">Purchase Details</a></li>
                        <li class="breadcrumb-item active">Add Purchase Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("AddPurchaseEntry", "StockEntry", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            @Html.HiddenFor(model => model.Id)
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4" >
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ItemTypeId)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.ItemTypeId)
                                            @Html.EditorFor(model => model.ItemTypeId, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Item Type"
                                                }
                                            })
                                            @Html.ValidationMessageFor(model => model.ItemTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NoOfBosta)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.NoOfBosta, new
                                          {
                                              htmlAttributes = new
                                              {
                                                  @class = "form-control",
                                                   @placeholder = "Number of bosta"
                                         }
                                          })
                                            @Html.ValidationMessageFor(model => model.NoOfBosta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Weight, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Weight"
                                           }
                                            })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Price, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control",
                                               @placeholder = "Price"
                                           }
                                       })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#NetWeight").prop('readOnly', true);
        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }

        $('#BostaQuantity').on('input', function () {
            calculateWeight();
        });

        $("#ddlPacket").change(function () {
            calculateWeight();
        });
        function calculateWeight() {
            var bostaQuantity = $('#BostaQuantity').val();
            var selectedPacket = $('#ddlPacket option:selected').text().split('(')[1].match(/\d+/)[0];
            var weight = selectedPacket * bostaQuantity;
            $('#Weight').val(weight);
        }

        $('#Date').datetimepicker({
            //format: 'HH:mm'
            format: 'DD/MM/YYYY',
            //format: 'L',
        });

    });
</script>
<script type="text/javascript">

</script>