﻿@model FMS.BL.PurchaseEntry
@{
    ViewBag.Title = "MoveToStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MoveToStock</h2>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Purchase</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/index">Purchase</a></li>
                        <li class="breadcrumb-item"><a href="/Home/VendorProfile">Purchase Entry</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row" id="divstockcount">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@TempData["ItemName"]</h3><h4>@TempData["Weight"] KG</h4>
                        </div>
                        <div class="icon"><i class="ion ion-bag"></i></div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("AddPurchaseEntry", "StockEntry", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            @Html.HiddenFor(model => model.Id)
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label for="cars">Move To:</label>

                                            <select name="cars" id="cars" class="form-control">
                                                <option value="volvo">Stock</option>
                                                <option value="saab">Wastage</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Weight, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                            @placeholder = "Weight"
                                           }
                                            })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <button onclick="Reset()" type="button" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>

</div>