﻿@model FMS.BL.RoadChalan

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Road Chalan</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Weight</a></li>
                        <li class="breadcrumb-item"><a href="/RoadChalan/List">Road Chalan</a></li>
                        <li class="breadcrumb-item active">Add Road Chalan</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Add", "RoadChalan", FormMethod.Post, new { id = "Add" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NameOfDistributor)<span class="text-red">*</span>
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.EditorFor(model => model.NameOfDistributor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name Of Distributor" } })
                                            @Html.ValidationMessageFor(model => model.NameOfDistributor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressOfDistributor)<span class="text-red">*</span>
                                            @Html.TextAreaFor(model => model.AddressOfDistributor, new { @class = "form-control", @placeholder = "Address Of Distributor" })
                                            @Html.ValidationMessageFor(model => model.AddressOfDistributor, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Destination)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control", @placeholder = "Destination" } })
                                            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Quantity)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity" } })
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Product)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.Product, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product" } })
                                            @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalWeight)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.TotalWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Weight" } })
                                            @Html.ValidationMessageFor(model => model.TotalWeight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TruckNo)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.TruckNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Truck No" } })
                                            @Html.ValidationMessageFor(model => model.TruckNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DriverName)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Driver Name" } })
                                            @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DriverMobile)<span class="text-red">*</span>
                                            @Html.EditorFor(model => model.DriverMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Driver Mobile" } })
                                            @Html.ValidationMessageFor(model => model.DriverMobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>





                                </div>

                                <button onclick="Reset()" type="reset" class="btn btn-secondary text-left">Reset</button>
                                <button type="submit" form="Add" class="btn btn-primary btn-left">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            }
        </div>

    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });
</script>
