﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Road Chalan</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header" id="companyTitle">

                        <small class="float-right">Date: @DateTime.Now.ToString("MM/dd/yyyy")</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">


                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>
                        <h3> GOUR FLOUR PVT. LTD.</h3>
                        <strong>Narayanpur(Near BSF Camp),Dist.Malda-732141</strong><br>
                        Phone: 9434085130<br>
                        Email: gourflourmills2001@gmail.com

                    </address>
                    <h4>Road Chalan :</h4>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <!-- /.col -->
                <div class="col-12">


                    <div class="table-responsive">
                        <table class="table">

                            <tr>
                                <td>Name Of Distributor :</td>
                                <td id="NameOfDistributor">$5.80</td>
                                <td>Address Of Distributor:</td>
                                <td id="AddressOfDistributor">$5.80</td>
                            </tr>
                            <tr>
                                <td>Destination:</td>
                                <td id="Destination">$265.24</td>
                                <td id="Product">Quantity of PDS Atta:</td>
                                <td id="Quantity">$265.24</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>Truck No:</td>
                                <td id="TruckNo">$265.24</td>
                            </tr>

                        </table>
                    </div>

                </div>


                <!-- /.col -->
            </div>

            <!-- /.row -->
        </section>

        <!-- /.content -->
    </div>
    <div class="float-left">Signature of driver</div>
    <div class="float-right">Authorized Signature</div>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header" id="companyTitle">

                        <small class="float-right">Date: @DateTime.Now.ToString("MM/dd/yyyy")</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">


                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>
                        <h3> GOUR FLOUR PVT. LTD.</h3>
                        <strong>Narayanpur(Near BSF Camp),Dist.Malda-732141</strong><br>
                        Phone: 9434085130<br>
                        Email: gourflourmills2001@gmail.com

                    </address>
                    <h4>Road Chalan :</h4>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <!-- /.col -->
                <div class="col-12">


                    <div class="table-responsive">
                        <table class="table">

                            <tr>
                                <td>Name Of Distributor :</td>
                                <td id="NameOfDistributor1">$5.80</td>
                                <td>Address Of Distributor:</td>
                                <td id="AddressOfDistributor1">$5.80</td>
                            </tr>
                            <tr>
                                <td>Destination:</td>
                                <td id="Destination1">$265.24</td>
                                <td>Quantity of PDS Atta:</td>
                                <td id="Quantity1">$265.24</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>Truck No:</td>
                                <td id="TruckNo1">$265.24</td>
                            </tr>

                        </table>
                    </div>

                </div>


                <!-- /.col -->
            </div>
            <div class="float-left">Signature of driver</div>
            <div class="float-right">Authorized Signature</div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    <!-- ./wrapper -->
    @*<script type="text/javascript">window.addEventListener("load", window.print());</script>*@
</body>
</html>
<script src="../plugins/jquery/jquery.min.js"></script>
<script>

    $(function () {
        var Id = '@ViewBag.Id'
        LoadRoadChalan(Id);
    });

    function LoadRoadChalan(Id) {

        var requestData = {
            RoadChalanId: Id
        };
        $.ajax({
            url: '/RoadChalan/LoadRoadChalan',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {


                for (var i = 0; i < result.length; i++) {
                    $('#NameOfDistributor').text(result[i].NameOfDistributor);
                    $('#AddressOfDistributor').text(result[i].AddressOfDistributor);
                    $('#Destination').text(result[i].Destination);
                    $('#Quantity').text(result[i].Quantity);
                    $('#TruckNo').text(result[i].TruckNo);
                    $('#NameOfDistributor1').text(result[i].NameOfDistributor);
                    $('#AddressOfDistributor1').text(result[i].AddressOfDistributor);
                    $('#Destination1').text(result[i].Destination);
                    $('#Quantity1').text(result[i].Quantity);
                    $('#TruckNo1').text(result[i].TruckNo);

                   

                }

                window.addEventListener("load", window.print());

            },
        });
    }
</script>
