﻿@model IEnumerable<FMS.BL.RoadChalan>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Road Chalan list </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Weight</a></li>
                        <li class="breadcrumb-item active">Road Chalan list</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add Road Chalan", "Add", "RoadChalan",
                            new { @class = "btn  bg-gradient-primary" })
                            <div class="clearfix"></div><br />
                            <div id="tblRoadChalan">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadRoadChalan(0);
});

    function LoadRoadChalan(RoadChalanId) {

    var requestData = {
        RoadChalanId: RoadChalanId
    };
    $.ajax({
        url: '/RoadChalan/LoadRoadChalan',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblRoadChalan').html("");
                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Name Of Distributor</th><th scope="col">Address Of Distributor</th><th scope="col">Destination</th><th scope="col">Quantity</th><th scope="col">Product</th><th scope="col">TruckNo</th><th scope="col">Driver Name</th><th scope="col">Driver Mobile</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    var status = null;
                    if (result[i].IsActive == 0) {
                        status = "Inactive"
                    }
                    else {
                        status = "Active"
                    }

                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].NameOfDistributor + '</td ><td>' + result[i].AddressOfDistributor + '</td><td>' + result[i].Destination + '</td><td>' + result[i].Quantity + '</td><td>' + IFNULL(result[i].Product) + '</td><td>' + result[i].TruckNo + '</td><td>' + IFNULL(result[i].DriverName) + '</td><td>' + IFNULL(result[i].DriverMobile) + '</td><td><a href="#" onclick="Delete(' + result[i].Id + ')"><i class="far fa-trash-alt"></i></i></a >&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].Id + ');"><i class="fa fa-fw fa-edit" ></i></a ><a href="#" onclick="Print(' + result[i].Id + ');"><i class="fa fa-fw fa-print" ></i></a ></td></tr >'
                }
                $('#tblRoadChalan').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable();
            },
        });
    }

    function Edit(RoadChalanid) {
        window.location.href = '/RoadChalan/Add?RoadChalanid=' + RoadChalanid + '';
    }

    function Delete(RoadChalanidTodelete) {

        bootbox.confirm("Are you sure you want to delete this  road chalan?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/RoadChalan/Delete?RoadChalanid=' + RoadChalanidTodelete + '';
                // LoadEmployee(0);
            }


        })
    }

    

    function Print(Id) {
        //window.location.href = '/WeightDetails/Invoice?TransactionId=' + TransactionId + '';
        window.open('/RoadChalan/Invoice?Id=' + Id + '', '_blank');
    }
</script>