﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Accessories Type list </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Master</a></li>
                        <li class="breadcrumb-item active">Accessories Type list</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">

                    <!-- general form elements disabled -->
                    <div class="card card-warning">

                        <!-- /.card-header -->
                        <div class="card-body">
                            @*  <button onclick="Add();" type="button" class="btn  bg-gradient-primary"><i class="fas fa-plus"></i>Add Employe</button>*@
                            @*// @Html.ActionLink("Add Employee", "Add", new { @class = "btn  bg-gradient-primary" })*@
                            @Html.ActionLink("Add Accessories Type", "Add", "AccessoriesType",
                            new { @class = "btn  bg-gradient-primary" })
                            <div class="clearfix"></div><br />
                            <div id="tblAccessories">

                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <!-- /.card -->
            </div>

        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["SuccessFlag"]' == "1") {
            toastr.success('@TempData["Msg"]');
        }
        else if ('@TempData["SuccessFlag"]' == "0") {
            toastr.error('@TempData["Msg"]');
        }
    });


$(function () {
    LoadAccessories(0);
});

    function LoadAccessories(AccessoriesId) {

    var requestData = {
        AccessoriesTypeId: AccessoriesId
    };
    $.ajax({
        url: '/AccessoriesType/LoadAccessoriesType',
        type: 'POST',
        data: JSON.stringify(requestData),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: true,
        cache: false,
        error: function (xhr) {
            alert('Error: ' + xhr.statusText);
        },
            success: function (result) {

                $('#tblAccessories').html("");

                var tblHead = '<table class="table table-bordered table-striped table-responsive-lg" id="example1" cellspacing="0" cellpadding="4" align="Center" style="color:#333333;border-collapse:collapse;"><thead><tr style="color:White;background-color:#1C5E55;font-weight:bold;"><th scope="col">Accessories Type Name</th><th scope="col">Description</th><th scope="col">Action</th></tr></thead><tbody>';
                //alert(tblHead);
                var tbody = ""
                for (var i = 0; i < result.length; i++) {
                    
                    if (result[i].Description == null) {
                        result[i].Description = "";
                    }
                    //  tbody = tbody + '<tbody><tr><td align="left" id=id_' + result[i].roleTitle + '>' + result[i].roleTitle + '</td><td id=id_' + result[i].Permissions + '>' + result[i].Permissions + '</td><td class="td-actions text-center"><a href="#" class="" id="btnCreateRole" onclick="EditRole(\'' + result[i].roleID + '\');"><i class="far fa-edit text-warning"></i> </a>&nbsp;<a href="#" class="" id="btnCreateRole" onclick="DeleteRole(\'' + result[i].roleID + '\')"><i class="fas fa-times text-danger"></i> </a></td></tr>';
                    tbody = tbody + '<tr style="background-color:White;"><td>' + result[i].AccessoriesTypeName + '</td ><td>' + result[i].Description + '</td><td>&nbsp;&nbsp;<a href="#" onclick="Edit(' + result[i].AccessoriesTypeId + ');"><i class="fa fa-fw fa-edit" ></i></a ></td></tr >'
                }
                $('#tblAccessories').html(tblHead + tbody + '</tbody></table>');
                $("#example1").DataTable(
                    {
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            title: 'Accessories Details',
                            filename: 'Accessories Details'
                        }]
                    }
                );
            },
        });
    }

    function Edit(accessoriestypeid) {
        window.location.href = '/AccessoriesType/Add?accessoriestypeid=' + accessoriestypeid + '';
    }

    function Delete(accessoriesidTodelete) {

        bootbox.confirm("Are you sure you want to delete this category?", function (confirm) {
            if (confirm == true) {
                window.location.href = '/AccessoriesType/Delete?accessoriesid=' + accessoriesidTodelete + '';
                // LoadEmployee(0);
            }


        })
    }
</script>
