﻿body 
{
    margin:0;
    padding:0;
    background-image:url(../img/1.JPG);
    font-family: Times New Roman;
}


.loginbox {
    width: 520px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.avatar
{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50% - 50px);
    border:5px solid #000;
}
h1
{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:20px;
}

.loginbox p
{
    margin:0;
    padding:0;
    font-weight:bold;
}
.loginbox .TextBox
{
    width:100%;
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}
.loginbox .sub
{
    border:none;
    outline:none;
    height:40px;
    background:#fb2525;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    border-radius:20px;
}
.loginbox .sub:hover
{
    cursor:pointer;
    background:#ffc107;
    color:#000;
}

.custom-dropdown {
    height: 100% !important;
}
